node_modules
npm-debug.log
.idea/
logs/
.env
.queues
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
**/webpack-stats.json
service.json
dist/
build/
bundle.js
.env
source-context.json
source-contexts.json
firebasecreds.json
*.DS_Store
/public/*
/src/client/index.html
.vscode/
.nvmrc
