.aboutUs {
  padding: 20px 0;
  .title {
    padding: 15px 0;
  }
  .subtitle {
    font-weight: 700;
  }
  .video {
    padding: 10px 0;
  }
  .create-button {
    color: #fff;
    background-color: #0D3AD1;
    padding: 10px 50px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid #0D3AD1;
    &:hover{
      color: #0D3AD1;
      background-color: #fff;
      text-decoration: none;
      border: 1px solid #0D3AD1;
    }
  }
}