$overRidePad: 0.625rem;

.author-page-container {
  padding-top: 64px;
  .author-tab-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .author-tab-menu-item {
      padding: 0 10px;
      cursor: pointer;
      color: #959595;
      &:hover {
        color: #4261a5;
      }
    }
  }

  .author-photos-container {
    .authors-albums-wrapper {
      max-width: 700px;
    }
    img {
      height: 160px;
      width: 100%;
      @media all and (min-width: 600px) {
        height: 190px;
        width: 100%;
      }
    }
    .authors-albums-poster {
      position: relative;
      padding: $overRidePad;
    }
    .authors-albums-title-wrapper {
      position: absolute;
      background-color: #4261a5;
      opacity: 0.85;
      color: #ffffff;
      bottom: $overRidePad;
      left: $overRidePad;
      right: $overRidePad;
      line-height: 1.38;
      padding: 0.5em 1em;
      font-weight: bold;
    }
    .authors-albums-AlbumsTitle {
      font-size: 8px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      @media all and (min-width: 600px) {
        font-size: 16px;
      }
    }
    .authors-albums-AlbumsItems {
      font-size: 8px;
      @media all and (min-width: 600px) {
        font-size: 14px;
      }
    }
  }
}
