$overRidePad: 0.625rem;
$overRidePad2: 1.25rem;
$maxWidth: 700px;

.author-page-container {
  padding-top: 64px;
  .author-tab-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .author-tab-menu-item {
      padding: 0 10px;
      cursor: pointer;
      color: #959595;
      &:hover {
        color: #4261a5;
      }
    }
  }

  .author-page-photos-container {
    margin-top: 5em;
    max-width: $maxWidth;
    .author-page-photos-pageSelector-wrapper {
      max-width: $maxWidth;
      margin: $overRidePad2;
      text-align: right;
      @media all and (min-width: 600px) {
        text-align: left;
      }
    }
    .author-page-photos-addPhotoButton {
      margin: 0 0 0 $overRidePad;
      border: 1px solid #707070;
      width: 178px;
      height: 38px;
      float: right;
      color: #707070;
      font-size: 16px;
    }
    .author-page-photos-UserLoggedAddAlbumsPhotos-wrapper {
      max-width: $maxWidth;
      margin: $overRidePad2;
    }
    .author-page-photos-button-selected {
      color: #4261a5;
      font-weight: 600;
    }
    .author-page-photos-button-notSelected {
      color: #2e2e2e;
      font-weight: 600;
    }
    .author-page-photos-padLeft {
      padding-left: 2em;
    }
    .authors-albums-wrapper {
      max-width: $maxWidth;
      margin: $overRidePad;
    }
    .authors-albums-img {
      object-fit: cover;
      height: 160px;
      width: 100%;
      @media all and (min-width: 600px) {
        height: 190px;
        width: 100%;
      }
    }
    .authors-albums-poster {
      position: relative;
      padding: $overRidePad;
      cursor: pointer;
    }
    .authors-albums-title-wrapper {
      position: absolute;
      background-color: #4261a5;
      opacity: 0.85;
      color: #ffffff;
      bottom: $overRidePad;
      left: $overRidePad;
      right: $overRidePad;
      line-height: 1.38;
      padding: 0.5em 1em;
      font-weight: bold;
    }
    .authors-albums-AlbumsTitle {
      font-size: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media all and (min-width: 600px) {
        font-size: 16px;
      }
    }
    .authors-albums-AlbumsItems {
      font-size: 8px;
      @media all and (min-width: 600px) {
        font-size: 14px;
      }
    }
    .authors-album-title {
      padding: 0 $overRidePad;
      color: #232323;
      font-weight: bold;
      font-size: 18px;
      @media all and (min-width: 600px) {
        font-size: 21px;
      }
    }
    .authors-album-desc {
      padding: $overRidePad;
      color: #000000;
      font-size: 15px;
      line-height: 1.33;
      @media all and (min-width: 600px) {
        font-size: 16px;
        line-height: 1.36;
      }
    }
    .authors-photos-wrapperBox {
      margin: 0 $overRidePad;
    }
    .authors-photos-imgBox {
      padding: $overRidePad;
    }
    .authors-photos-img {
      object-fit: cover;
      height: 163px;
      width: 100%;
    }
  }
}
