@import 'variables.scss';

.bookstore-hero-logged-container{
  height: 70vh;
  background-repeat: no-repeat;
  background: url('../image/hero-image.jpg');
}

.bookstore-hero-anon-container{
  height: 50vh;
  background-repeat: round;
  background: url('../image/hero-anon-image.jpg');
}

.bookstore-hero-logged-container, .bookstore-hero-anon-container{
  padding-top: 60px;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: round;
  @media all and (max-width: 667px) and (orientation: landscape) {
    height: 70vh;
    background-repeat: no-repeat;
  }
  @media all and (min-width: 768px  ) {
    height: 50vh;
    background-repeat: no-repeat;
  }
  @media all and (min-width: 1024px) {
    height: 80vh;
    background-position: center;
  }
  h1{
    color: $white;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    @media all and (min-width: 768px){
      font-size: 26px;
    }
  }
  a{
    background: rgba(254, 254, 254, 0.10);
    border: solid 1px $white;
    border-radius: 23px;
    padding: 5px 7.5px;
    font-size: 14px;
    color: $white;
    transition: all .3s ease;
    @media all and (min-width: 768px){
      padding: 10px 15px;
      font-size: 18px;
    }
    &:hover{
      background: $white;
      color: $black;
    }
  }
}
