@import 'variables.scss';

.books-toolbar {
  padding: 150px !important;
  padding-top: 120px !important;
}

.landing-genres {
  &:active:focus {
    font-weight: bold !important;
  }
}

.book-info {
  animation-name: bookHoverAnnimation;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  background: $blue;
  color: $white;
  height: 100%;
  font-size: 14px;
  left: 4%;
  padding: 15px;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  text-align: left;
  width: 92%;

  &:hover {
    opacity: 1;
  }

  a {
    color: $white;
  }
}

.book {
  box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.4);
}

.book-container {
  &:hover {
    opacity: 1;
    transform: translateY(-10px);
    transition-timing-function: ease-out;
    transition: 0.25s;
  }
}

.rating-icon {
  height: 13px;
  margin-right: 4px;
}

.rating {
  display: block;
  margin-top: 5px;
}
