@import 'variables.scss';

.bookpage-main-container{
  background: $white;
  padding-top: 60px;
}

.bookpage-rating-icon{
  height: 18px;
  margin-right: 2px;
  @media all and (min-width: 768px){
    height: 23px;
  }
}

.bookpage-book-excerpt-container-mobile{
  display: flex;
  width: 100%;
  margin-top: 15px;
  @media all and (min-width: 768px){
    display: none;
  }
  .bookpage-book-excerpt{
    font-size: 14px;
    text-align: justify;
    font-weight: 500;
    word-wrap: break-word;
    margin: 0;
    .bookpage-book-excerpt-readmore-btn{
      color: #808080;
      display: block;
      transition: all .3s ease;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.bookpage-info-main-container{
  border-bottom: solid 2px rgb(249, 249, 249);
  position: relative;
  .bookpage-info-left-element, .bookpage-info-right-element{
    padding-top: 30px;
  }
  .bookpage-info-left-element{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px rgb(249, 249, 249);
    @media all and (min-width: 1024px){
      padding-right: 0;
      border-bottom: none;
      min-height: 400px;
    }
    .bookpage-info-left-top{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      .bookpage-cover {
        width: 25%;
        text-align: center;
        .bookpage-info-figure{
          img{
            width: 100%;
            box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.6);
          }
        }
        .bookpage-fan-button{
          display: flex;
          flex-direction: column;
          margin-top: 10px !important;

          @media all and (min-width: 320px){
            margin: auto;
          }

          @media all and (min-width: 480px){
            margin-left: 15%;
          }

          @media all and (min-width: 540px){
            margin-left: 23%;
          }


        }
        .bookpage-fan-button-action{
          background: transparent;
          border-radius: 23px;
          font-size: 14px;
          border: solid 1px $store-blue;
          color: $store-blue;
          text-align: center;
          width: 80px;
          transition: all .3s ease;
          &:hover{
            background-color: $store-blue;
            border: solid 1px transparent;
            color: $white;
          }
        }
        .bookpage-fan-button-action-active{
          background-color: $store-blue;
          color: $white;
          border-radius: 23px;
          font-size: 14px;
          border: solid 1px transparent;
          text-align: center;
          width: 80px;
          transition: all .3s ease;
        }
      }

      .bookpage-book-description-container{
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 20px;
        .bookpage-book-title{
          font-size: 26px;
          font-weight: 600;
          width: 100%
        }
        .bookpage-author-container{
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: flex-start;
          align-items: flex-start;
          .bookpage-author-badge-figure{
            width: 60px;
            img{
              border-radius: 5px;
              border: solid 1px #ccc;
            }
          }
          .bookpage-author-info{
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            .bookpage-author-name{
              font-size: 20px;
              font-weight: 400;
              color: $black;
              text-transform: capitalize;
              a{
                &:hover{
                  color: $black;
                }
              }
            }
            .bookpage-author-follow-action{
              background: transparent;
              border-radius: 23px;
              font-size: 14px;
              border: solid 1px $store-blue;
              color: $store-blue;
              text-align: center;
              width: 80px;
              transition: all .3s ease;
              &:hover{
                background-color: $store-blue;
                border: solid 1px transparent;
                color: $white;
              }
            }
            .bookpage-author-follow-action-active{
              background-color: $store-blue;
              color: $white;
              border-radius: 23px;
              font-size: 14px;
              border: solid 1px transparent;
              text-align: center;
              width: 80px;
              transition: all .3s ease;
            }
          }
        }
        .bookpage-rating-container{
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          margin-top: 15px;
          .rating{
            margin-top: 0;
          }
          .review-counts{
            font-size: 16px;
            margin-left: 10px;
            font-weight: 500;
            @media all and (min-width: 768px){
              font-size: 18px;
            }
          }
        }
        .bookpage-book-excerpt-container-desktop{
          display: none;
          width: 100%;
          margin-top: 15px;
          @media all and (min-width: 768px){
            display: flex;
          }
          .bookpage-book-excerpt{
            font-size: 14px;
            text-align: justify;
            font-weight: 500;
            word-wrap: break-word;
            margin: 0;
            .bookpage-book-excerpt-readmore-btn{
              color: #808080;
              padding-left: 5px;
              display: inline-block;
              &:hover {
                color: #0042D6;
              }
            }
          }
        }
        .bookpage-trailer-btn{
          margin-top: 1em;
          a{
            display: flex;
            align-items: center;
            font-weight: 500;
            background: transparent;
            border-radius: 23px;
            font-size: 14px;
            border: solid 1px #0099ff;
            color: #0099ff;
            text-align: center;
            padding: 2px 10px;
            transition: all .3s ease;
            &:hover{
              background-color: #0099ff;
              border: solid 1px transparent;
              color: #fff;
            }
          }
        }
      }
    }
    .bookpage-info-left-bottom{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 15px;
      position: relative;
      border-top: solid 2px rgb(249, 249, 249);
      @media all and (min-width: 1024px){
        border-top: none;
      }
      .bookpage-bottom-action-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &:hover{
          cursor: pointer;
        }
        figure{
          width: 35px;
          img{
            width: 100%;
          }
        }
        svg{
          width: 35px !important;
          height: 35px !important;
          path{
            fill: #DADADA;
          }
        }
        span{
          display: none;
          @media all and (min-width: 1024px){
            display: flex;
            color: #999;
            margin-left: 10px;
          }
        }
        .bookpage-action-btn-active-text{
          display: none;
          @media all and (min-width: 1024px){
            display: flex;
            color: $store-blue;
            margin-left: 10px;
          }
        }
        .bookpage-share-buttons-container{
          position: absolute;
          right: 0;
          top: 42px;
          background: white;
          border-radius: 10px;
          border: solid 1px #F4F4F4;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
          list-style: none;
          margin: 0;
          max-width: 210px;
          padding: 10px;
          display: flex;
          flex-direction: row;
          z-index:3;
          &:before{
            position: absolute;
            top: -11px;
            right: 10px;
            border-right: 11px solid transparent;
            border-bottom: 11px solid transparent;
            border-left: 11px solid transparent;
            border-bottom-color: #F4F4F4;
            content: '';
          }
          &:after{
            position: absolute;
            top: -10px;
            right: 11px;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #ffffff;
            border-left: 10px solid transparent;
            content: '';
          }
          .bookpage-share-buttons-li{
            margin: 0 2.5px;
            svg{
              path{
                fill: $white;
              }
            }
          }
          .bookpage-share-buttons-li-gr{
            margin: 0 2.5px;
            width: 35px;
            height: 35px;
          }
        }
      }
      .bookpage-bottom-action-btn-active{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &:hover{
          cursor: pointer;
        }
        figure{
          width: 35px;
          img{
            width: 100%;
          }
        }
        span{
          display: none;
          @media all and (min-width: 1024px){
            display: flex;
            color: #999;
            margin-left: 10px;
          }
        }
        .bookpage-action-btn-active-text{
          display: none;
          @media all and (min-width: 1024px){
            display: flex;
            color: #999;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .bookpage-info-right-element{
    @media all and (min-width: 1024px){
      padding-right: 0;
      border-left: solid 2px rgb(249, 249, 249);
    }
    .bookpage-info-right-element-main-container{
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      text-align: center;
      @media all and (min-width: 1024px){
        text-align: right;
      }
      .bookpage-book-details-cover{
        color: #999;
        width: 100%;
        font-size: 22px;
        @media all and (min-width: 1024px){
          font-size: 18px;
        }
      }
      .bookpage-book-details-price{
        width: 100%;
        font-weight: 600;
        font-size: 26px;
        @media all and (min-width: 1024px) {
          font-size: 26px;
        }
      }
      .bookpage-book-details-saving-container{
        width: 100%;
        color: #999;
        font-size: 15px;
        .bookpage-book-details-saving-old-price{
          color: #999;
          text-decoration: line-through;
          margin-right: 5px;
        }
        .bookpage-book-details-saving-percentage{
          color: #999;
          margin-left: 5px;
        }
      }
      .bookpage-book-details-litcoin-price-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;
        @media all and (min-width: 1024px){
          justify-content: flex-end;
        }
        .bookpage-book-details-litcoin-price-prefix{
          font-size: 15px;
          color: #999;
          margin-right: 5px;
        }
        .bookpage-book-details-litcoin-price{
          font-size: 15px;
          color: #999;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: row;
          .bookpage-book-details-litcoin-price-text{
            margin-right: 5px;
            font-weight: 500;
          }
          .litcoin-img{
            width: 15px;
            margin: 0;
          }
        }
      }
      .bookpage-book-details-paper-type-selector-container{
        width: 100%;
        margin-top: 15px;
        .bookpage-book-details-paper-type-selector{
          margin: 0;
          list-style: none;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          flex-direction: column;
          width: 70%;
          margin: 0 auto;
          @media all and (min-width: 1024px){
            float: right;
          }
          .bookpage-book-details-paper-type{
            border: solid 2px #999;
            color: #999;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 5px 20px;
            width: 100%;
            margin-bottom: 10px;
            border-radius: 5px;
            transition: all .3s ease;
            position: relative;
            &:hover{
              border: solid 2px $black;
              color: $black;
              cursor: pointer;
            }
          }
          .bookpage-book-details-paper-type-slctd{
            border: solid 2px $black;
            color: $black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 5px 20px;
            width: 100%;
            margin-bottom: 10px;
            border-radius: 5px;
            &:hover{
              cursor: pointer;
            }
          }
          .bookpage-book-details-paper-type-alert{
            position: absolute;
            right: 0;
            top: 42px;
            background: white;
            border-radius: 10px;
            border: solid 1px #F4F4F4;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
            list-style: none;
            margin: 0;
            max-width: 200px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            &:before{
              position: absolute;
              top: -11px;
              right: 10px;
              border-right: 11px solid transparent;
              border-bottom: 11px solid transparent;
              border-left: 11px solid transparent;
              border-bottom-color: #F4F4F4;
              content: '';
            }
            &:after{
              position: absolute;
              top: -10px;
              right: 11px;
              border-right: 10px solid transparent;
              border-bottom: 10px solid #ffffff;
              border-left: 10px solid transparent;
              content: '';
            }
            span{
              color: $black;
            }
          }
        }
      }
      .bookpage-book-add-to-cart-container{
        width: 100%;
        margin: 25px auto;
        display: flex;
        justify-content: center;
        @media all and (min-width: 1024px){
          margin: 25px 0;
          justify-content: flex-end;
        }
        .bookpage-book-add-to-cart-btn{
          padding: 12px 30px;
          background-color: $store-blue;
          color: $white;
          font-weight: 600;
          width: 70%;
          border-radius: 27px;
          display: block;
          text-align: center;
        }
        .label{
          color: #0099ff;
          background-color: white;
          text-align: center;
          padding: 5px;
          border-radius: 5px;
          min-width: 200px;
          max-width: 300px;
          border: 1px solid #0099ff;
          box-shadow: rgba(10, 10, 10, 0.13) 1px 3px 3px 1px;
        }
      }
      .bookpage-book-piggy-bank-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding: 15px;
        .bookpage-book-piggy-bank-figure{
          width: 30%;
        }
        .bookpage-book-piggy-bank-text-container{
          width: 65%;
          text-align: left;
          .bookpage-book-piggy-bank-text-lit{
            margin-right: 5px;
            b{
              margin-left: 5px;
            }
            .litcoin-img{
              width: 15px;
              height: 15px;
              margin: -2px 0 0 2px;
            }
          }
        }
      }
    }
  }
}

.bookpage-announcement-container {
  width: 100%;
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $white;
  margin-bottom: 20px;
  @media all and (min-width: 768px){
    flex-direction: row;
    padding: 0;
  }
  .bookpage-book-details-container {
    display: flex;
    width: 50%;
    @media (max-width: 1024px) {
      margin-left: 5%;
    }
    @media (max-width: 768px){
      margin-left: 2%;
    }
    @media (max-width: 425px) {
      width: initial;
      margin-left: 0;
    }
  }
  .bookpage-book-details {
    @media (max-width: 768px) {
      margin: 20px 20px 20px 0;
      width: initial;
    }
    p {
      font-size: 14px;
      margin-bottom: 0em;
    }
  }
  .bookpage-announcement-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    @media all and (min-width: 768px){
      margin: 20px 0 auto 0;
    }
    h3{
      font-size: 26px;
      font-weight: 600;
    }
    .bookpage-announcement-posts{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      .bookpage-announcement-posts-figure{
        width: 25px;
      }
      .bookpage-announcement-posts-text{
        color: $store-blue;
        font-weight: 600;
        font-size: 20px;
        margin-left: 10px;
      }
    }
    .bookpage-announcement-anchor-container{
      width: 100%;
      .bookpage-announcement-anchor-text{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 160px;
        text-align: center;
        padding: 10px 20px;
        background: transparent;
        color: $store-blue;
        border: solid 1px $store-blue;
        border-radius: 23px;
        margin: 25px auto;
        @media all and (min-width: 768px){
          margin: 25px 0 0 0;
        }
        &:hover{
          transition: all .3s ease;
          color: $white;
          background-image: linear-gradient(to right, rgb(44, 208, 243), $store-blue);
        }
      }
    }
  }
  .bookpage-announcement-figure{
    width: 200px;
    @media all and (min-width: 768px){
      margin: 20px 50px auto 0;
    }
  }
}

.bookpage-hr-separator{
  max-width: 100%;
  margin: 0;
  border-bottom: solid 2px rgb(249, 249, 249);
}

.bookpage-meet-author-main-container{
  display: flex;
  margin: 75px 0;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .bookpage-meet-author-title{
    font-size: 24px;
  }

  .bookpage-meet-author-container{
    width: 100%;
    .bookpage-meet-author-content{
      width: 100%;
      padding: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      padding: 25px;
      background: $white;
      border-radius: 5px;
      box-shadow: rgba(222, 222, 222, 0.5) 0px 4px 20px 0px;
      @media all and (min-width: 768px){
        width: 415px;
      }
      .bookpage-meet-author-content-figure{
        width: 125px;
        margin-right: 10px;
        @media all and (min-width: 768px){
          margin-right: 20px;
        }
        img{
          border-radius: 10px;
        }
      }
      .bookpage-meet-author-content-section{
        margin-left: 10px;
        @media all and (min-width: 768px){
          margin-left: 20px;
        }
        width: 200px;
        h4{
          font-weight: 500;
          width: 100%;
        }
        .bookpage-meet-author-numbers-container{
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: row;
          .bookpage-meet-author-numbers-section{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            .bookpage-meet-author-numbers-title{
              font-size: 14px;
              font-weight: 200;
              color: #808080;
            }
            .bookpage-meet-author-numbers{
              font-size: 18px;
              font-weight: 600;
              color: $black;
            }
          }
        }
        .bookpage-meet-author-anchor-container{
          margin-top: 25px;
          width: 100%;
          .bookpage-meet-author-anchor{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 125px;
            text-align: center;
            padding: 10px 20px;
            background: transparent;
            color: $store-blue;
            border: solid 1px $store-blue;
            border-radius: 23px;
            margin: 25px auto;
            @media all and (min-width: 768px){
              margin: 25px 0 0 0;
            }
            &:hover{
              transition: all .3s ease;
              color: $white;
              background: $store-blue;
            }
          }
        }
      }
    }
  }

  .bookpage-meet-author-description-container{
      width: 100%;
      text-align: justify;
      margin-top: 25px;
      padding: 0 20px 10px 20px;
      @media all and (min-width: 769px){
        margin-top: 0;
      }
      .bookpage-meet-author-description{
        word-wrap: break-word;
        padding-top: 25px;
        .bookpage-meet-author-description-readmore{
          color: #808080;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
}

.bookpage-newsletter-main-container{
  width: 100%;
  position: relative;
  height: 150px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(32, 208, 208) 0%, #0099ff 100%);
  @media all and (min-width: 768px){
    flex-direction: row;
  }
  .bookpage-newsletter-text{
    margin-bottom: 0;
    color: $white;
    font-weight: 600;
    @media all and (min-width: 768px){
      margin-right: 20px;
      margin-bottom: 0;
      color: $white;
      font-weight: 600;
    }
  }
  .bookpage-newsletter-form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    @media all and (min-width: 768px){
      margin-left: 20px;
      margin-top: -20px;
    }
    label{
      color: $white;
      font-weight: 700;
    }
    .bookpage-newsletter-input-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .bookpage-newsletter-input{
        margin: 0;
        border-radius: 5px 0 0 5px;
        min-width: 175px;
        max-width: 200px;
        height: 45px;
        box-sizing: border-box;
        box-shadow: none;
        border: none;
        &:focus{
          border: none;
          box-sizing: border-box;
          box-shadow: none;
        }
      }
      .bookpage-newsletter-submit{
        border-radius: 0 5px 5px 0;
        height: 45px;
        border: none;
        box-sizing: border-box;
        box-shadow: none;
        background: $white;
        color: $store-blue;
        font-size: 15px;
        font-weight: 600;
        padding: 3px 20px;
        margin-left: 1px;
      }
    }
  }
}

.review-overview-rating-icon{
  height: 22px;
  margin-left: 2.5px;
}

.bookpage-reviews-overview-main-container{
  margin: 75px 0;
  .bookpage-reviews-overview-main-title{
    font-size: 24px;
  }
  .bookpage-reviews-overview-container{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    @media all and (min-width: 768px){
      flex-direction: row;
    }
    .bookpage-reviews-overview-internal-data{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      width: 100%;
      padding-bottom: 15px;
      border-bottom:  solid 2px rgb(249, 249, 249);
      @media all and (min-width: 768px){
        width: 60%;
        padding-bottom: 0;
        border-bottom: none;
        border-right: solid 2px rgb(249, 249, 249);
      }
      .bookpage-reviews-overview-internal-left{
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .bookpage-reviews-overview-internal-total-square{
          width: 125px;
          height: 125px;
          border-radius: 5px;
          background-color: rgb(253, 253, 253);
          box-shadow: rgba(222, 222, 222, 0.5) 0px 4px 20px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 20px;
          .bookpage-reviews-overview-internal-total{
            font-size: 35px;
            font-weight: 600;
          }
          .bookpage-reviews-overview-internal-text{
            font-size: 15px;
            color: #808080;
          }
        }
      }
      .bookpage-reviews-overview-internal-right{
        width: 60%;
        @media all and (min-width: 768px){
          width: 50%;
          margin-right: 60px;
        }
        .bookpage-reviews-overview-internal-total{
          font-size: 24px;
          color: $black;
          text-transform: capitalize;
          font-weight: 500;
          .bookpage-reviews-overview-internal-total-number{
            margin-right: 5px;
            font-weight: 800;
          }
        }
        .bookpage-reviews-overview-internal-detailed-container{
          .bookpage-reviews-overview-detailed-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-bottom: 5px;
            .bookpage-reviews-overview-detailed-star, .bookpage-reviews-overview-detailed-count{
              font-size: 15px;
              color: #808080;
            }
            .bookpage-reviews-overview-detailed-progress-back{
              width: 70%;
              height: 19px;
              border: solid 1px #cacaca;
              background-color: rgba(236, 236, 236, 0.58);
              border-radius: 23px;
              .bookpage-reviews-overview-detailed-progress-front{
                width: 80%;
                height: 100%;
                border-radius: 23px;
                background-image: linear-gradient(90deg, #1cb5ce 0%, #0099ff 100%);
              }
            }
          }
        }
      }
    }
    .bookpage-reviews-overview-external-data{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      padding-top: 15px;
      @media all and (min-width: 768px){
        padding-top: 0;
        width: 40%;
      }
      .bookpage-reviews-overview-external-rating-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .bookpage-reviews-overview-external-rating-title, .bookpage-reviews-overview-external-rating-text{
          color: #808080;
          font-size: 15px;
        }
        .bookpage-reviews-overview-external-rating-total{
          font-weight: 600;
          font-size: 22px;
        }
      }
    }
  }
}

.bookpage-reviews-sign-up-message-container{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .bookpage-reviews-sign-up-message{
    font-weight: 600;
    font-size: 20px;
  }
  .bookpage-reviews-sign-up-message-btn{
    display: block;
    color: $store-blue;
    border: solid 1px $store-blue;
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 23px;
    font-size: 14px;
  }
}

.bookpage-review-post-area-container{
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  .bookpage-review-post-area-title{
    font-weight: 600;
    font-size: 20px;
  }
  .bookpage-review-post-user-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 15px;
    .bookpage-review-post-user-figure{
      width: 45px;
      img{
        border-radius: 5px;
      }
    }
    .bookpage-review-post-user-name{
      margin-left: 10px;
      color: $black;
      font-weight: 400;
      font-size: 20px;
    }
  }
  .bookpage-review-post-stars-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15px;
    .bookpage-review-post-stars-title{
      font-size: 15px;
      font-weight: 500;
      color: #CACACA;
    }
    .bookpage-review-post-stars{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      transition: all .3s ease;
      .bookpage-review-post-single-star-clicked{
        &:before{
          content: '';
          display: inline-block;
          background: url('../image/star-rating.png') no-repeat;
          width: 25px;
          height: 25px;
        }
      }
      .bookpage-review-post-single-star{
        &:before{
          content: '';
          display: inline-block;
          background: url('../image/star-empty.png') no-repeat;
          width: 25px;
          height: 25px;
        }
        &:hover{
          &:before{
            content: '';
            display: inline-block;
            background: url('../image/star-rating.png') no-repeat;
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
  .bookpage-review-post-comments-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    .bookpage-review-post-limit-info{
      font-size: 15px;
      font-weight: 200;
      color: #cacaca;
      &.complete{
        color: #4CAF50;
      }
    }
    .bookpage-review-post-textarea{
      width: 100%;
      min-height: 150px;
      max-height: 250px;
      resize: vertical;
      border: none;
      box-shadow: rgba(222, 222, 222, 0.5) 0px 4px 20px 0px;
      padding: 15px;
      font-size: 16px;
      &:focus{
        border: none;
      }
    }
    .bookpage-review-post-anchor{
      align-self: flex-end;
      display: flex;
      padding: 10px 30px;
      text-align: center;
      border-radius: 23px;
      font-size: 15px;
      color: $light-med-grey;
      background: transparent;
      border: solid 1px $light-med-grey;
      transition: all .3s ease;
      &.active{
        color: $store-blue;
        border: solid 1px $store-blue;
      }
      &:hover{
        color: $white;
        background-image: linear-gradient(to right, rgb(44, 208, 243), $store-blue);
        border: solid 1px transparent;
      }
    }
    .bookpage-review-post-anchor-disabled{
      align-self: flex-end;
      display: flex;
      padding: 10px 30px;
      text-align: center;
      border-radius: 23px;
      font-size: 15px;
      color: $light-med-grey;
      background: transparent;
      border: solid 1px $light-med-grey;
      transition: all .3s ease;
      &:hover{
        color: $white;
        background: $light-med-grey;
        cursor: help;
      }
    }
  }
}

.bookage-reviews-container{
  padding: 10px 5px;
  border-bottom: solid 2px rgb(249, 249, 249);
  @media all and (min-width: 768px){
    padding: 50px;
    border-bottom: none;
    border-right: solid 2px rgb(249, 249, 249);
  }
  .bookpage-single-review{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    div{
      width: 100%;
      .bookpage-review-header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        width: 100%;
        .bookpage-review-figure{
          width: 50px;

          a{
            img{
              border-radius: 5px;
              border: solid 1px #ccc;
            }
          }
        }
        .bookpage-review-header-details{
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          margin-left: 20px;
          .bookpage-review-header-top{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            .bookpage-review-fullname{
              font-weight: 600;
            }
            .bookpage-review-rating{
              margin-left: 10px;
              width: 35%;
              .review-rating-icon{
                margin: 0 2.5px 2.5px 0;
              }
            }
          }
          .bookpage-review-timestamp{
            .bookpage-review-timestamp-text{
              font-weight: 400;
              color: #808080;
              font-size: 15px;
            }
          }
        }
      }
      .bookpage-review-body{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 5px;
        width: 100%;
        .bookpage-review-body-text{
          word-wrap: break-word;
          width: 100%;
          padding: 30px;
          border-radius: 10px;
          background-color: rgba(165, 229, 232, 0.21);
          @media all and (min-width: 768px) {
            width: calc(100% - 50px);
          }
        }
      }
      .bookpage-review-footer{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 5px;
        width: 100%;
        .bookpage-review-footer-container{
          width: calc(100% - 70px);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .likes-count{
            margin-right: 15px;
          }
        }
      }
    }
  }
}

.goread-share-popup-container{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.44);
  z-index: 99;
  .goread-share-popup-tile{
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(222, 222, 222, 0.5) 0px 4px 20px 0px;
    border-radius: 5px;
    width: 570px;
    padding: 45px 35px;
    position: relative;
    .goread-share-popup-tile-close{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      &:hover{
        cursor: pointer;
      }
    }
    .goread-share-popup-tile-comment{
      .goread-share-popup-tile-comment-area{
        resize: none;
        height: 65px;
      }
    }
    .goread-share-popup-comment-submit{
      padding: 10px 20px;
      background-color: #0099ff;
      color: #fff;
      font-weight: 600;
      border-radius: 27px;
      display: block;
      max-width: 125px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.bookpage-review-post-blank-state-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .bookpage-review-post-blank-state-figure{
    max-width: 225px;
    opacity: .3;
  }
  .bookpage-review-post-blank-state-text{
    color: $light-med-grey;
  }
}


.close-vid-dialog{
  position: absolute;
  top: 15px;
  right: 15px;
  &:hover{
    cursor: pointer;
  }
}

.video-player-trailer{
  width: 100% !important;
  height: 135px  !important;
  margin: 0 auto;
  @media all and (min-width: 600px){
    width: 100% !important;
    height: 186px !important;
  }
  @media all and (min-width: 768px){
    width: 100% !important;
    height: 299px !important;
  }
  @media all and (min-width: 1024px){
    width: 100% !important;
    height: 406px !important;
  }
  @media all and (min-width: 1200px){
    width: 100% !important;
    height: 400px !important;
  }
}

.review-container {
  margin-top: 75px;
  .review-title {
    font-size:24px;
  }
  .review-item-container {
    .review-item {
      padding: 10px 0;
      .reviewer {
        text-align: right;
      }
    }
    .review-toggle {
      color: #808080;
    }
  }
}
