@import 'variables.scss';

.books-toolbar {
  padding: 150px !important;
  padding-top: 120px !important;
}

.landing-genres {
  &:active:focus {
    font-weight: bold !important;
  }
}

.book-info {
  animation-name: bookHoverAnnimation;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  background: $blue;
  color: $white;
  height: 100%;
  font-size: 14px;
  left: 4%;
  padding: 15px;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  text-align: left;
  width: 92%;

  &:hover {
    opacity: 1;
  }

  a {
    color: $white;
  }
}

.book {
  box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.4);
}

.book-container {
  &:hover {
    opacity: 1;
    transform: translateY(-10px);
    transition-timing-function: ease-out;
    transition: 0.25s;
  }
}

.rating-icon {
  height: 15px;
  margin-right: 2px;
}

.rating-icon-tiles {
  height: 25px;
  margin-right: 2px;
}

.rating {
  margin-top: 5px;
  span{
    display: inline !important;
  }
}

.book-image-modal {
  .book-image-modal-container {
    display: inline-flex;
    text-align: center;
    width: 100%;
    .book-image-modal-details {
      display: inline-flex;
      flex-direction: column;
      .columns {
        padding: 0px;
      }
      .book-image-modal-header-left {
        .book-image-modal-title {
          text-align: left;
          color: $black;
        }
        .book-image-modal-author-container {
          display: inline-flex;
          .book-image-modal-author-info {
            padding-left: 10px;
            text-align: left;
          }
        }
      }
      .book-image-modal-header-right {
        .book-image-modal-price {
          color: $black;
        }
        .book-image-modal-addtocart-container {
          display: inline-flex;
          align-items: center;
          a{
            min-width: 0;
          }
        }
      }
    }
  }
}