@import 'variables.scss';

.call-to-action-wrapper {
  padding: 475px 110px 110px 110px;
  background-color: $light-grey;
}

.header {
  padding: 194px 0 250px;
  background: url('../image/header-image.jpg') no-repeat center;
  background-size: cover;

  @media all and (max-width: 1200px){
    padding-top: 170px;
  }
}
