@import 'variables.scss';

.call-to-action-wrapper {
  padding: 300px 110px 110px 110px;
  background-color: $light-grey;
}

.header {
  padding: 80px 0 200px;
  background: url('../image/header-image.jpg') no-repeat center;
  background-size: cover;
}
