.career {
  padding: 20px 0;
  .title-image {
    padding: 15px 0;
    width: 100%;
  }
  .subtitle {
    font-weight: 700;
  }
  .offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media (min-width: 426px) {
      flex-direction: row;
    }
    .right-offer {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      @media (min-width: 426px) {
        width: 50%;
      }
    }
    .left-offer {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      @media (min-width: 426px) {
        width: 50%;
      }
    }
    .offer-icon {
      margin: 0 40px 0 10px;
      width: 100px;
    }
    .offer-section { 
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (min-width: 426px) {
        flex-direction: column;
        flex-direction: row;
      }
    }
  }
  .check-button {
    display: none;
    color: #fff;
    background-color: #0D3AD1;
    padding: 10px 50px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid #0D3AD1;
    &:hover{
      color: #0D3AD1;
      background-color: #fff;
      text-decoration: none;
      border: 1px solid #0D3AD1;
    }
  }
  .career-opening {
    display: flex;
    margin: 30px 0;
    .left-section {
      display: none;
      @media (min-width: 426px) {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .right-section {
      padding: 0 10px;
      @media (min-width: 426px) {
        width: 75%;
      }
    }
    .section-image {
      width: 200px;
    }
    .subtitle {
      color: #0D3AD1;
    }
  }
  .divider {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
}