.chatbox{
  position: fixed;
  top: 0px; // To fix this hardcode
  height: 100vh;
  width: 285px;
  right: -285px;
  transition: all 0.2s ease-in-out;
  z-index: 1001;
  &.open{
    right: 0;
  }
  iframe{
    width: 285px;
    height: 100vh;
  }
  .chatbox-btn-close{
    position: absolute;
    top: 5px;
    z-index: 110;
    font-size: 18px;
    font-weight: bold;
    right: 26px;
    color: #808389;
    display: block;
  }
}