@import 'variables.scss';

.notifications-main-frame-container{
  &:after{
    z-index: 9;
    @media all and (min-width: 768px) {
      position: absolute;
      top: 65px;
      right: 301px;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #ffffff;
      border-left: 10px solid transparent;
      content: '';
    }
    @media all and (min-width: 1024px) {
      position: absolute;
      top: 65px;
      right: 415px;
    }
    @media all and (min-width: 1200px) {
      position: absolute;
      top: 65px;
      right: 205px;
    }
  }
}

.notifications-frame-container{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 63px;
  margin-bottom: -60px;
  max-height: 84vh;
  height: auto;
  background: rgb(255, 255, 255);
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-shadow: rgba(222, 222, 222, 0.498039) 0px 4px 20px 0px;
  border-radius: 5px;
  z-index: 9;
  @media all and(min-width: 768px) {
    width: 400px;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 80vh;
    overflow-y: scroll;
    left: inherit;
    top: 75px;
    right: 30px;
    position: absolute;
  }
  @media all and (min-width: 1024px) {
    width: 400px;
    left: inherit;
    top: 75px;
    right: 215px;
    position: absolute;
  }
  @media all and (min-width: 1200px) {
    width: 400px;
    left: inherit;
    top: 75px;
    right: 35px;
    position: absolute;
  }
  .single-notification-element{
    padding: 20px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px solid rgb(249, 249, 249);
    width: 100%;
    .notification-action-figure{
      width: 55px;
      img{
        border-radius: 23px;
      }
    }
  }
  .notification-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
    width: 100%;
    .notification-description-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      font-size: 14px;
      margin-left: 15px;
      margin: 0;
      width: 100%;
      word-wrap: break-word;
      line-height: 20px;
      @media all and (min-width: 1200px){
        margin-bottom: 5px;
      }
      .notification-description-anchor{
        font-weight: bold;
        &:hover{
          .notification-description-action{
            color: $black;
            cursor: default;
          }
        }
        .notification-description-action{
          font-weight: 200;
          margin-left: 5px;
          &:hover{
            color: $black;
            cursor: default;
          }
        }
      }
    }
    .notification-action-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      width: 100%;
      font-size: 14px;
      margin-left: 5px;
      .notification-action-btn{
        display: block;
        padding: 0 10px;
        color: $blue;
        font-size: 12px;
        border: solid 1px $blue;
        border-radius: 20px;
        @media all and (min-width: 1200px){
          padding: 5px 10px;
        }
      }
      .liked-action{
        &:before{
          content: '';
          display: inline-block;
          background: url('../image/liked-icon.svg') no-repeat;
          background-size: 15px;
          width: 15px;
          height: 15px;
          margin-top: 6px;
        }
      }
      .commented-action{
        &:before{
          content: '';
          display: inline-block;
          background: url('../image/commented-icon.svg') no-repeat;
          background-size: 15px;
          width: 15px;
          height: 15px;
          margin-top: 6px;
        }
      }
      .notification-timestamp{
        margin-left: 5px;
        color: #8e8b8b;
      }
    }
  }
  .notification-has-figure{
    width: 79%;
  }
  .liked-image-figure{
    width: 80px;
  }
}

.chat-frame-main-container{
  &:after{
    z-index: 9;
    @media all and (min-width: 768px) {
      position: absolute;
      top: 65px;
      right: 55%;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #ffffff;
      border-left: 10px solid transparent;
      content: '';
    }
    @media all and (min-width: 1024px) {
      position: absolute;
      top: 65px;
      right: 55%;
    }
    @media all and (min-width: 1200px) {
      position: absolute;
      top: 65px;
      right: 50%;
    }
  }
}

.chats-frame-container{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 63px;
  margin-bottom: -60px;
  background: rgb(255, 255, 255);
  z-index: 1;
  box-shadow: rgba(222, 222, 222, 0.498039) 0px 4px 20px 0px;
  z-index: 9;
  border-radius: 5px;
  @media all and(min-width: 768px) {
    width: 400px;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 80vh;
    overflow-y:hidden;
    left: inherit;
    top: 75px;
    right: 35%;
    position: absolute;
  }
  @media all and (min-width: 1024px) {
    width: 400px;
    left: inherit;
    top: 75px;
    right: 35%;
    position: absolute;
  }
  @media all and (min-width: 1200px) {
    width: 400px;
    left: inherit;
    top: 75px;
    right: 35%;
    position: absolute;
  }
  .search-users-container{
    width: 100%;
    border-bottom: 2px solid rgb(249, 249, 249);
    .search-users-form{
      position: relative;
      padding: 10px 15px;
      @media all and (min-width: 1200px){
        padding: 15px 30px;
      }
      .search-users-input{
        border-radius: 20px;
        margin-bottom: 0;
        padding-right: 40px;
      }
      .search-icon-element{
        position: absolute;
        top: 21px;
        right: 35px;
        @media all and (min-width: 1200px){
          top: 25px;
          right: 45px;
        }
      }
    }
  }
  .chat-user-results{
    width: 100%;
    max-height: 80vh;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    .single-chat-element-container{
      padding: 10px 15px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      background-color: $white;
      border-bottom: 2px solid rgb(249, 249, 249);
      transition: all .25s ease-in;
      &:hover{
        cursor: pointer;
        background-image: linear-gradient(-134deg, #FFFFFF 0%, #F8FFFE 63%, #F7FCFF 99%);
      }
      .single-chat-avatar-figure{
        width: 45px;
        img{
          border-radius: 30px;
        }
      }
      .single-chat-details-container{
        margin-left: 10px;
        width: 82%;
        .single-chat-actor-name-container{
          display: flex;
          justify-content: space-between;
          .single-chat-actor-name{
            font-size: 14px;
            font-weight: 600;
            color: $black;
            display: flex;
            flex-direction: row;
            .has-messages-chat{
              display: flex;
              flex-direction: row;
              margin-left: 2.5px;
              figure{
                margin-left: 2.5px;
                width: 20px;
                position: relative;
                text-align: center;
                .unread-counter{
                  color: $white;
                  position: absolute;
                  font-size: 12px;
                  top: 2.5px;
                  left: 5px;
                }
              }
            }
          }
          .single-chat-timestamp-container{
            margin-left: 5px;
            .single-chat-timestamp-element{
              font-size: 12px;
              color: #8e8b8b;
            }
          }
        }
        .single-chat-message-preview-container{
          .single-chat-message-preview{
            margin-bottom: 0;
            word-wrap: break-word;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.online-users-chats-container{
  display: none;
  @media all and (min-width: 768px) {
    position: fixed;
    bottom: 0;
    right: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 99;
    .online-users-chats-small{
      height: 40px;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      .small-chat-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 200px;
        height: 40px;
        background-image: linear-gradient(-134deg, #FFFFFF 0%, #F8FFFE 63%, #F7FCFF 99%);
        border-bottom: 2px solid rgb(249, 249, 249);
        &:hover{
          cursor: pointer;
        }
        .online-users-chat-icon{
          margin-left: 16px;
          width: 16px;
          height: 16.3px;
          display: flex;
          img{
            vertical-align: inherit;
          }
        }
        .online-users-chat-icon-close{
          margin-left: 16px;
          width: 9px;
          height: 9.3px;
          display: flex;
          img{
            vertical-align: inherit;
          }
        }
        .online-users-main-text{
          font-size: 14px;
          color: #000;
          letter-spacing: 0.41px;
          font-weight: 600;
          margin-left: 10px;
        }
        .online-users-divider{
          color: #9B9B9B;
          margin-left: 10px;

        }
        .online-users-count{
          font-size: 14px;
          color: #000;
          letter-spacing: 0.41px;
          line-height: 19px;
          margin-left: 10px;
        }
      }
    }
    .chats-open{
      height: 100%;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      box-shadow: rgba(222, 222, 222, 0.498039) 0px 4px 20px 0px;
      background-image: linear-gradient(-134deg, #FFFFFF 0%, #F8FFFE 63%, #F7FCFF 99%);
      .chat-users-container{
        width: 100%;
        max-height: 80vh;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        .chat-single-user{
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;
          padding: 10px;
          width: 100%;
          &:hover{
            cursor: pointer;
          }
          .chat-single-user-figure{
            width: 30px;
            img{
              border-radius: 23px;
            }
          }
          .chat-single-user-name{
            span{
              font-size: 12px;
              font-weight: 400;
            }
          }
          .chat-single-message-figure{
            width: 12.5px;
          }
        }
        .offline-users-container{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 100%;
          .offline-users-title{
            padding: 10px;
            width: 100%;
            color: $light-med-grey;
            font-weight: 400;
            font-size: 12px;

            &:hover{
              cursor: default;
            }
          }
          .single-offline-user{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            padding: 10px;
            width: 100%;
            &:hover{
              cursor: pointer;
            }
            .chat-single-user-figure{
              width: 30px;
              img{
                border-radius: 23px;
              }
            }
            .chat-single-user-name{
              margin-left: 10px;
              span{
                font-size: 12px;
                font-weight: 400;
                color: $light-med-grey;
              }
            }
          }
        }
      }
    }
  }
}
