@import './variables.scss';

.error {
  color: $error-text;

  input {
    border-color: $error-text !important;
  }

  select {
    border-color: $error-text !important;
  }

  .message {
    display: block;
    font-size: 14px;
    margin: -10px 0 20px;
  }
}