@import 'variables.scss';

.center-text {
  text-align: center;
}

.side-by-side-wrapper {
  margin: 0 auto;
  display: inline-block;

  .side-left {
    float: left;
  }

  .side-left-landing {
    padding-left: 100px;
  }

  .side-right {
    margin: 0 auto;
    float: right;
  }
}
