@import 'variables.scss';

.center-text {
  text-align: center !important;
}

.general-background {
  background: $white;
}

.general-title {
  font-weight: 600;
  color: #4A4A4A !important;
  letter-spacing: 0.85px;
}

.general-button {
  padding: 7px 20px 7px 20px;
  border-radius: 3px;
  border: 1px solid #979797;
}

.landing-priority-wrapper {
  width: 1300px;
  margin: 0 auto;
  margin-top: 100px !important;
}

.side-by-side-wrapper {
  margin: 0 auto;
  display: inline-block;

  .side-left {
    float: left;
  }

  .side-left-landing {
    padding-left: 100px;
  }

  .side-right {
    margin: 0 auto;
    float: right;
  }
}
