@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'variables.scss';
@import 'general.scss';
@import 'icomoon.scss';
@import 'errors.scss';
@import 'image.scss';
@import 'links.scss';
@import 'forms.scss';
@import 'nav-menu.scss';
@import 'call-to-action.scss';
@import 'signupflow.scss';
@import 'books.scss';
@import 'stepper.scss';
@import 'litcoins.scss';
@import 'left-hand-links.scss';
@import 'typography.scss';
@import 'read-feed-profile.scss';
@import 'search-modal.scss';
@import 'tiles.scss';
@import 'statuspost.scss';
@import 'settings.scss';
@import 'profile-page.scss';
@import 'chatbox.scss';
@import 'bookStoreNavBar.scss';
@import 'bookStore.scss';
@import 'bookPage.scss';
@import 'categoriesPage.scss';
@import 'cartPage.scss';
@import 'chatNotifications.scss';
@import 'spinning-loader.scss';
@import 'sidebarAd.scss';
@import 'mobile-menu.scss';
@import 'orders.scss';
@import 'literacy.scss';
@import 'aboutUs.scss';
@import 'career.scss';
@import 'investors.scss';
@import 'ourMission.scss';
@import 'sellYourBooks.scss';
@import 'affiliate.scss';
@import 'advertiseYourProducts.scss';
@import 'publishWithUs.scss';
@import 'advertiseYourBusiness.scss';

$general-font-family: 'Open Sans', san-serif;
$body-copy: "freight-text-pro", san-serif;

html, body {
  padding: 0;
  margin: 0;
  background-color: $light-grey;
}

.large-header {
  margin: 50px 0;
}

.top-container {
  margin-top: 100px;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  margin: 0 0px -3px;
  background:white;
  border-radius:3px;
  border:1px solid #DADADA;
}

input[type='checkbox']:checked {
  -webkit-appearance:none;
  background: $blue url(../image/checkmark.png) center no-repeat;
}

input[type="checkbox"]:focus{
      outline:0;
  }

.secondary-button {
  &:hover {
    span {
      color: $white !important;
    }
  }
}

.slide-down {
  animation-name: slideDownAnnimation;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.4s;
}

@keyframes slideDownAnnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation-name: slideUpAnnimation;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
}

@keyframes slideUpAnnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.read-feed {
  padding-top: 80px;
  @media all and (min-width: 1200px){
    padding-top: 84px;
  }
}

.left-hand-footer{
  padding: 0;
  margin: 15px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  .left-hand-menu-divider{
    font-size: 14px;
    color: #979797;
    margin: 0 2.5px;
  }
  .left-hand-menu-item{
    .left-hand-menu-anchor{
      font-size: 14px;
      color: #979797;
      &:hover{
        color: rgba(10, 10, 10, 0.79);
      }
    }
  }
}

.public-container{
  padding-top: 80px;
  @media all and (min-width: 1200px){
    padding-top: 84px;
  }
}

.public-main-row{
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(222, 222, 222, 0.5) 0px 4px 20px 0px;
  text-align: justify;
  a{
    color: $blue;
  }
  h1{
    color: $blue;
  }
  h5{
    color: $blue;
  }
}

.profile-page-img-wrapper-logged{
  @media all and (min-width: 1200px){
    padding-top: 64px;
  }
}

.profile-page-img-wrapper-anon{
  @media all and (min-width: 1200px){
    padding-top: 78px;
  }
}

.box {
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(222, 222, 222, 0.5) 0px 4px 20px 0px;
}

.overlay {
  background:rgba(0,0,0,.75);
  opacity: 0;
  -webkit-transition: opacity .25s ease;
}

.home {
  background-color: $white;
}

.priority {
  margin: 0px;
  width: 50%;

  @media all and (max-width: 1024px){
    width: 100%;
  }
}

.sub-link {
  text-align: left;
  font-size: 14px;
  a {
    color: $grey;
  }
}

.search-icon {
  &:before {
    content: '';
    display: block;
    background: url(../image/search-icon.svg) no-repeat;
    position: absolute;;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 11px;
  }
}

.login-content{
  .recovery-input{
    margin: 0px auto;
    max-width: 400px;
    margin-bottom: 15px;
  }
  .recovery-buttons{
    button{
      margin: 10px;
    }
  }
  .forgot-password{
    text-align: center;
    color: blue;
    padding-bottom: 10px;
    font-size: 14px;
    span {
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.logo-anon-anchor{
  width: 150px;
}

.logo-logged-anchor{
  width: 200px;
}

.logo-share-img{
  width: 35px;
}

.sidebar-quotes-container{
  list-style: none;
}

.quotes-list-element{
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 1em;
  .quotes-image{
    width: 15px;
    margin: 0 20px 0 -20px;
  }
  .quotes-text{
    margin: 0;
    word-break: break-word;
    display: inline;
  }
}

.sidebar-element-container{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
  padding: 30px;
  background-color: $white;
  .sidebar-element-title{
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 1em;
  }
}

.sidebar-element-container > div.text-left{
  margin-top: 0 !important;
}

.sidebar-favorite-genres-container{
  margin-top: 1em;
  display: inline-flex;
}

.sidebar-books-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 1em 0;
  padding: 0;
  background-color: $white;
}

.pointer-hand{
  cursor: pointer;
}

.register-sign-in-modal{
  width: 100%;
  height: 70vh;
  @media all and (min-width: 768px){
    width: 50%;
    margin: 0 auto;
    height: 50vh;
  }
}

.register-sign-in-modal-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  p{
    text-align: center;
  }
  .logo-container-figure{
    width: 250px;
    margin-top: 1em;
  }
  .register-sign-btns-container{
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5em;
    flex-direction: column;
    @media all and (min-width: 768px){
      flex-direction: row;
    }
    .register-sign-in-buttons-container{
      .sign-in-button, .register-button{
        display: block;
        padding: .5em 1em;
        border-radius: 39px;
        border: solid 1px $blue;
        font-size: 18px;
      }
      .sign-in-button{
        color: $blue;
        background-color: $white;
      }
      .register-button{
        background-color: $blue;
        color: $white;
        margin-top: 1em;
        @media all and (min-width: 768px){
          margin-top: 0;
        }
      }
    }
  }
}

.image-preview-statuspost{
  margin-top: 1.25em;
  position: relative;
  .statuspost-image-preview-discard-btn{
    padding: 0px 7px;
    background-color: $white;
    color: #717171;
    border-radius: 26px;
    border: solid 1px $light-med-grey;
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 15px;
  }
}

.logo-onboarding-container{
  .logo-onboarding-anchor{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    @media all and (min-width: 768px){
      justify-content: center;
    }
    .logo-onboarding-img{
      width: 150px;
      @media all and (min-width: 768px){
        width: 250px;
      }
    }
  }
}

.page-main-loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  figure{
    max-width: 250px;
  }
}
.loading-animation {
  border: 2.5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2.5px solid $blue;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  margin: .25em auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-animation-store {
  border: 2.5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2.5px solid $store-blue;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  margin: .25em auto;
}

.loading-animation-store-inverted {
  border: 1.5px solid $store-blue;
  border-radius: 50%;
  border-top: 1.5px solid #f3f3f3;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  margin: .25em auto;
}

.loading-animation-store-search{
  border: 2.5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2.5px solid #0099ff;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: .25em auto;
  position: absolute;
  top: 7px;
  right: 12px;
}

.loading-animation-store-big {
  border: 4.5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4.5px solid $store-blue;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: .25em auto;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.followers-scroll{
  height: 55vh;
  overflow-x: hidden;
  overflow-y: scroll;
  @media all and (min-width: 1400px){
    height: 65vh;
  }
}

.margin-left{
  margin-left: .5em;
}

.margin-right{
  margin-right: .5em;
}

.copyright-container{
  text-align: left;
  .copyright-element{
    font-size: 13px;
    color: #979797;
  }
}

.video-player-landing {
  padding: 10px;
  background-color: $white;
  border-radius: 5px;
  position: relative;
  z-index: 0;
  width: 100% !important;
  margin: 10px auto 0 auto;
  @media all and (min-width: 768px){
    width: 80% !important;
  }
  @media all and (min-width: 1024px) {
    z-index: 998;
    width: 375px !important;
    height: 236px !important;
    position: fixed;
    top: 40vh;
    right: 50px;
  }
  @media all and (min-width: 1400px){
    width: 500px !important;
    height: 314px !important;
    top: 23vh;
  }
}
