@import 'variables.scss';

a, .gr-link {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    color: $blue;
    text-decoration: none;
  }

  &:focus {
    color: $blue;
  }

  &:active {
    color: $blue;
  }
}

.rf-nav-link {
  color: $grey;
}
