.literacy-main-container {
  display: flex;
  padding-top: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 85rem;
  @media (max-width: 85rem) {
    max-width: 100%;
  }
  .vertical {
    flex-direction: column;
  }
  .literacy-title {
    color: #353535;
    display: flex;
    justify-content: center;
    margin: 20px 5px;
    p {
      font-size: 50px;
      line-height: 60px;
    }
  }
  .literacy-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 5px;
    .literacy-facts {
      width: 50%;
      font-size: 18px;
      p {
        padding: 0 10px;
        font-size: 22px;
        line-height: 30px;
      }
      .literacy-facts-title {
        font-size: 35px;
        font-weight: 600;
      }
      .literacy-facts-focus {
        color: #0042d6;
        font-weight: 600;
        font-size: 23px;
        text-align: center;
        padding: 15px 0;
      }
      .literacy-facts-list {
        list-style: none;
        li {
          position: relative;
          margin: 15px 0;
          &:before {
            content: "*";
            position: absolute;
            left: -15px;
            top: 0;
            font-weight: 900;
          }
        }
      }
    }
    .literacy-picture {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
    }
  }
  .literacy-division {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    font-size: 42px;
    color: #fff;
    background-color: #0042d6;
    padding: 0 40px;
  }
  .literacy-background {
    background: url("../image/literacy-background.jpg") no-repeat;
    color: #fff;
    background-position: center top;
    .literacy-goread {
      font-size: 18px;
      color: #a8a8a8;
      padding: 20px 0;
    }
    .literacy-subtitle {
      font-size: 38px;
      padding: 10px 0;
      font-weight: bold;
    }
    .literacy-lines {
      padding: 30px 0;
      .outer-line {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 314px;
        height: 3px;
        background-color: #ddd;
        .inner-line {
          width: 69px;
          height: 3px;
          background-color: #0042d6;
        }
      }
    }
    .literacy-subcontent {
      width: 90%;
      p {
        font-size: 30px;
        line-height: 40px;
      }
    }
    .literacy-button {
      margin: 40px 0;
      padding: 20px;
      color: #fff;
      background-color: #ef5e4e;
      border-radius: 10px;
      font-size: 30px;
      font-weight: bold;
    }
  }
}