@import 'variables.scss';

.referral-link-on-profile{
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 1em;
}

.sidebar-books-tab-container{
  padding: .5em;
  .library-edit-heading{
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    .edit-library-anchor{
      display: flex;
      svg{
        width: 20px !important;
        height: 20px !important;
        path{
          fill: $light-med-grey;
        }
      }
      .edit-library-text{
        font-size: 14px;
        margin-left: .5em;
        color: $light-med-grey;
      }
    }
  }
  .library-books-main-container{
    width: 100%;
    max-height: 440px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: .5em 1em;
    .library-book-container{
      width: 30%;
      padding: .5em;
      .library-book-details-container{
        .library-book-details-anchor{
          font-size: 14px;
          color: $light-med-grey;
          .library-book-details-element{
            font-size: 14px;
          }
        }
      }
    }
    .top-books-wrapper{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: .5em;
      .library-book-container{
        width: 30%;
        position: relative;
        margin-bottom: .5em;
        padding: .5em;
        .favorite-badge{
          width: 18px;
          height: 18px;
          background-color:$blue;
          border-radius: 50%;
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 11;
          svg{
            width: 14px !important;
            height: 14px !important;
            path{
              fill: $white;
            }
          }
        }
        .library-book-details-container{
          .library-book-details-anchor{
            font-size: 14px;
            color: $light-med-grey;
            .library-book-details-element{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .wishlist-container{
    width: 100%;
    max-height: 440px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: .5em 1em;
    .wishlist-book-container{
      width: 30%;
      position: relative;
      margin-bottom: .5em;
      text-align: center;
      padding: .5em;
      .remove-wishlist-badge{
        width: 18px;
        height: 18px;
        background-color: $red;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 11;
        a{
          svg{
            width: 14px !important;
            height: 14px !important;
            &:hover{
              cursor: pointer;
            }
            path{
              fill: $white;
            }
          }
        }
      }
    }
  }
}

.library-rating-icon{
  height: 12px !important;
}

.not-currently-reading {
  padding: 1em;
}

.currently-reading-book {
  padding: 1em;
  .book-container{
    a{
      display: block;
      width: 110px;
      margin: 0 auto;
    }
  }
}

.edit-library-modal{
  height: 100vh !important;
  max-height: none !important;
  width: 100vw;
  @media all and (min-width: 768) {
    width: auto;
  }
}

.edit-library-modal-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0;
  .edit-library-heading-container{
    width: 100%;
    text-align: center;
    h4{
      font-size: 20px;
      font-weight: 600;
      width: 100%;
    }
  }
  .edit-library-form{
    width: 100%;
    .edit-library-form-input{
      width: 100%;
      border-radius: 16px;
    }
  }
  .current-library-bottom-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    @media all and (min-width: 768px){
      flex-direction: row;
    }
    .border-right-divider{
      border-bottom: solid 1px $light-med-grey;
      border-right: solid 1px transparent;
      @media all and (min-width: 768px){
        border-right: solid 1px $light-med-grey;
        border-bottom: solid 1px transparent;
      }
    }
    .current-library-container, .search-results-contianer{
      padding: .5em;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      @media all and (min-width: 768px){
        width: 50%;
      }
      .current-library-heading-container, .search-results-heading-container{
        width: 100%;
        text-align: left;
        h5{
          font-size: 18px;
          padding-left: 2em;
          width: 100%;
          font-weight: 400;
          text-align: left;
        }
      }
      .library-book-results, .current-library-elements-container{
        min-height: 40vh;
        max-height: 40vh;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        text-align: center;
        @media all and (min-width: 768px){
          min-height: 63vh;
          max-height: 63vh;
        }
        @media all and (min-width: 900px){
          min-height: 72vh;
          max-height: 72vh;
        }
        .search-results{
          .book-search-results-container{
            .search-book-results{
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-wrap: wrap;
            }
          }
        }
        .library-search-spinner{
          display: flex;
          justify-content: flex-start;
          width: 100%;
        }
        .library-book-container, .result-container{
          width: 29%;
          margin-bottom: .5em;
          margin-right: 1em;
          .book-container{
            a{
              display: block;
              text-align: center;
              .book{
                height: 140px;
              }
            }
          }
        }
      }
      .top-books-elements-container{
        @media all and (min-height: 900px) {
          min-height: 18vh !important;
          max-height: 18vh !important;
        }
      }
      .top-books-library-elements{
        @media all and (min-height: 900px) {
          min-height: 48vh !important;
          max-height: 48vh !important;
        }
      }
    }
    .currently-reading-container{
      width: 100% !important;
      .library-book-container{
        width: 30% !important;
        @media all and (min-width: 768px){
          width: 15% !important;
        }
      }
    }
  }
  .top-books-bottom-wrapper{
    flex-direction: column;
    .top-books-container{
      width: 100%;
      .current-library-elements-container{
        max-height: 30vh;
        min-height: 30vh;
        overflow-y: scroll;
        overflow-x: scroll;
        @media all and (min-width: 768px){
          overflow-x: hidden;
        }
        .library-book-container{
          width: 30% !important;
          .book-container{
            width: 100%;
          }
          @media all and (min-width: 768px){
            width: 15% !important;
          }
        }
      }
    }
  }
}

.search-add-to-library-container{
  width: 100%;
  text-align: center;
  .search-add-to-library-anchor{
    display: block;
    padding: 3.5px 7px;
    border: solid 1px $blue;
    color: blue;
    border-radius: 24px;
  }
  .search-remove-from-library-anchor{
    display: block;
    font-size: 12px;
    padding: 3.5px 7px;
    border: solid 1px $blue;
    color: blue;
    border-radius: 24px;
  }
}

.author-profile-link-button{
  box-sizing: border-box;
  display: flex;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 1em auto 0;
  padding: .5em 1em;
  outline: none;
  font-size: 14px;
  font-weight: 200;
  position: relative;
  background-color: $blue;
  border-radius: 25px;
  white-space: nowrap;
  width: fit-content;
  color: $white;
  align-self: center;
  &:hover{
    color: $white;
  }
}
.left-profile-container{
  padding: 0 .5em;
}
.center-profile-container{
  padding: 0 .5em;
}
.right-profile-container{
  padding: 0 .5em;
  // @media all and (min-width: 1024px){
  //   position: fixed;
  // }
  .base-tile-sidebar-container{
    padding: 0;
  }
}

.background-image-profile{
  width: 100%;
}

.library-book-container, .wishlist-book-container{
  .book-container{
    transition: none;
    transform: none;
    .book-info-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      .book-info-title{
        font-size: 14px;
        color: $black;
        width: 100%;
        text-align: left;
      }
      .book-info-author{
        font-size: 12px;
        color: #949494;
        width: 100%;
        text-align: left;
      }
    }
  }
}

.library-book-container{
  position: relative;
  .add-wishlist-badge{
    width: 18px;
    height: 18px;
    background-color: #69af8f;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    a{
      svg{
        width: 14px !important;
        height: 14px !important;
        &:hover{
          cursor: pointer;
        }
        path{
          fill: $white;
        }
      }
    }
  }
}

.edit-library-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  .edit-library-header{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px $light-med-grey;
    position: relative;
    .edit-library-go-back{
      position: absolute;
      left: 25px;
      top: 25%;
      a{
        &:hover{
          color: $black;
          text-decoration: underline;
        }
      }
    }
    .edit-library-tab-elements{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      .edit-library-single-tab{
        a{
          display: block;
          padding: 1em 1.5em;
          font-size: 16px;
          border-bottom: 3px solid transparent;
          font-weight: 400;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          &:hover{
            color: $black;
            border-bottom: 3px solid $blue;
          }
        }
        .library-tab-active{
          border-bottom: 3px solid $blue;
        }
      }
    }
  }

  .edit-library-tabs-container{
    width: 100%;
    .row{
      .columns{
        .edit-library-tab{
          padding: 1em;
          width: 100%;
          .tab-heading{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            h4{
              font-size: 24px;
              text-align: center;
              margin: 0;
            }
            .add-book-btn{
              position: absolute;
              right: 0;
              top: 2px;
              margin-left: 1em;
              display: flex;
              padding: .5em 1em;
              background: $blue;
              color:$white;
              border-radius: 45px;
            }
          }
          .edit-library-top-books{
            margin-top: 1em;
            h5{
              font-size: 18px;
              text-transform: capitalize;
            }
            .currently-reading-wrapper{
              width: 100%;
              padding: 1em 0;
              border-bottom: 1px solid $light-med-grey;
              .book-container{
                transition: none;
                transform: none;
                width: 16%;
                position: relative;
                margin-bottom: .5em;
                margin: 0 auto;
                .favorite-badge{
                  width: 18px;
                  height: 18px;
                  background-color:$blue;
                  border-radius: 50%;
                  position: absolute;
                  top: -5px;
                  right: -5px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  z-index: 11;
                  svg{
                    width: 14px !important;
                    height: 14px !important;
                    path{
                      fill: $white;
                    }
                  }
                }
                .book-info-container{
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  flex-direction: column;
                  margin-top: .5em;
                  .book-info-title{
                    font-size: 14px;
                    color: $black;
                    width: 100%;
                    text-align: left;
                  }
                  .book-info-author{
                    font-size: 12px;
                    color: #949494;
                    width: 100%;
                    text-align: left;
                  }
                }
                .book-action{
                  .book-action-anchor{
                    display: block;
                    text-decoration: underline;
                    color: $light-med-grey;
                    font-size: 14px;
                  }
                }
              }
            }
            .top-books-modal-wrapper{
              width: 100%;
              padding: 1em 0;
              border-bottom: 1px solid $light-med-grey;
              .top-books-wrapper{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: row;
                .empty-book-container{
                  width: 17%;
                  height: 185px;
                  position: relative;
                  border: solid 1px $light-med-grey;
                  position: relative;
                  &:hover{
                    cursor: pointer;
                  }
                  svg{
                    width: 75px !important;
                    height: 75px !important;
                    position: absolute;
                    top: 30%;
                    left: 20%;
                    path{
                      fill: $light-med-grey;
                    }
                  }
                }
                .book-container{
                  transition: none;
                  transform: none;
                  width: 17%;
                  position: relative;
                  margin-bottom: .5em;
                  .favorite-badge{
                    width: 18px;
                    height: 18px;
                    background-color:$blue;
                    border-radius: 50%;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 11;
                    svg{
                      width: 14px !important;
                      height: 14px !important;
                      path{
                        fill: $white;
                      }
                    }
                  }
                  .book-info-container{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    margin-top: .5em;
                    .book-info-title{
                      font-size: 14px;
                      color: $black;
                      width: 100%;
                      text-align: left;
                    }
                    .book-info-author{
                      font-size: 12px;
                      color: #949494;
                      width: 100%;
                      text-align: left;
                    }
                  }
                  .book-action{
                    .book-action-anchor{
                      display: block;
                      text-decoration: underline;
                      color: $light-med-grey;
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
          .edit-library-library-list{
            width: 100%;
            padding: 1em 0;
            .edit-library-library-scroller{
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              flex-direction: row;
              flex-wrap: wrap;
              max-height: 450px;
              overflow-y: scroll;
              overflow-x: hidden;
              .book-container{
                transition: none;
                transform: none;
                width: 17%;
                position: relative;
                margin-bottom: .5em;
                .book-info-container{
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  flex-direction: column;
                  margin-top: .5em;
                  .book-info-title{
                    font-size: 14px;
                    color: $black;
                    width: 100%;
                    text-align: left;
                  }
                  .book-info-author{
                    font-size: 12px;
                    color: #949494;
                    width: 100%;
                    text-align: left;
                  }
                }
                .book-action{
                  .book-action-anchor{
                    display: block;
                    text-decoration: underline;
                    color: $light-med-grey;
                    font-size: 14px;
                  }
                }
              }
            }
            .edit-wishlist-container{
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              flex-direction: row;
              flex-wrap: wrap;
              max-height: 400px;
              overflow-y: scroll;
              overflow-x: hidden;
              .book-container{
                transition: none;
                transform: none;
                width: 17%;
                position: relative;
                margin-bottom: .5em;
                .book-info-container{
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  flex-direction: column;
                  margin-top: .5em;
                  .book-info-title{
                    font-size: 14px;
                    color: $black;
                    width: 100%;
                    text-align: left;
                  }
                  .book-info-author{
                    font-size: 12px;
                    color: #949494;
                    width: 100%;
                    text-align: left;
                  }
                }
                .book-action{
                  .book-action-anchor{
                    display: block;
                    text-decoration: underline;
                    color: $light-med-grey;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.current-library-elements-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  .book-container{
    transition: none;
    transform: none;
    width: 17%;
    position: relative;
    margin-bottom: .5em;
    .favorite-badge{
      width: 18px;
      height: 18px;
      background-color:$blue;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -5px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 11;
      svg{
        width: 14px !important;
        height: 14px !important;
        path{
          fill: $white;
        }
      }
    }
    .book-info-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-top: .5em;
      .book-info-title{
        font-size: 14px;
        color: $black;
        width: 100%;
        text-align: left;
      }
      .book-info-author{
        font-size: 12px;
        color: #949494;
        width: 100%;
        text-align: left;
      }
    }
    .book-action{
      .book-action-anchor{
        display: block;
        text-decoration: underline;
        color: $light-med-grey;
        font-size: 14px;
      }
    }
  }
}
