@import 'variables.scss';

.profile-wrapper {
}

.camera-solid {
}

.dropzone-background {
  opacity: 0;
  position: absolute;
  width: 50px;

  &:hover {
    cursor: pointer;
  }
  color: red;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 45%;
  width: 50px;
}

.profile-top {
  position: relative;
}

.profile-bottom {
  margin-top: -15px;
  position: relative;
}

.profile-badge-bottom {
  margin-top: -105px;
  position: relative;
  @media all and (min-width: 768px){
    margin-top: -100px;
  }
}

.dropzone-profile {
  height: 50px;
  margin-left: 15px;
  width: 50px;

  img {
    height: 100%;
    border-radius: 10%;
  }
}

.dropzone-profile-profilepage, .not-my-profile-image-container {
  height: 120px;
  margin-left: 15px;
  width: 120px;
  .profile-image-profilepage{
    height: 100%;
    border-radius: 3%;
  }
}

.camera-transparent {
  opacity: 0;
}

.profile-image {
  opacity: 1;
}

.camera-background {
  opacity: 1
}


.camera-profile {
  opacity: 0;
  margin-top: -80px;
  width: 30px;
}

.camera-profile-profilepage {
  opacity: 0;
  margin-top: -80px;
  width: 50px;
}

.background-image-wrapper:hover + .dropzone-background,
.profile-top:hover .overlay,
.profile-top:hover .dropzone-background,
.profile-bottom .bottom-overlay:hover {
  opacity: 1;
  transition: .3s ease;
}

.background-image-wrapper {
  margin-top: 60px;
  overflow: hidden;
  @media all and (min-width: 768px) {
    max-height: 320px;
    margin-top: 0;
  }
}

.profile-image:hover + .camera-profile, .camera-profile:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: .3s ease;
}

.profile-image-profilepage:hover + .camera-profile-profilepage, .camera-profile-profilepage:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: .3s ease;
}

.chosenFollow {
  background: $blue !important;
  padding: 7px !important;

  span {
    color: white !important;
  }
}

.rf-cover-photo {
  background: url('../image/header-image.jpg') no-repeat center;
  background-size: cover;
  height: 110px;
}

.rf-profile-photo {
  background: url('../image/portrait2.png') no-repeat center;
  background-size: cover;
  border-radius: 15%;
  height: 50px;
}

.profile-link {
  &:hover {
    color: $blue;
    cursor: pointer;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0,0,0,0.25);
}

.bottom-overlay {
  position: absolute;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0,0,0,0.25);
  background: rgba(0,0,0,0.75);
}

.rf-modal {
  max-width: 800px;
}

.not-liked {
  &:before {
    content: '';
    display: inline-block;
    background: url(../image/like-icon.svg) no-repeat;
    margin: 0px 7px -6px 0px;
    width: 20px;
    height: 20px;
  }
}

.liked {
  &:before {
    content: '';
    display: inline-block;
    background: url(../image/liked-icon.svg) no-repeat;
    margin: 0px 7px -6px 0px;
    width: 20px;
    height: 20px;
  }
}

.not-liked-number {
  color: $grey;
}

.liked-number {
  color: $red;
}

.commented {
  &:before {
    content: '';
    display: inline-block;
    background: url(../image/commented-icon.svg) no-repeat;
    margin: 0px 7px -5px 0px;
    width: 24px;
    height: 20px;
  }
}

.not-commented {
  &:before {
    content: '';
    display: inline-block;
    background: url(../image/comment-icon.svg) no-repeat;
    margin: 0px 7px -5px 0px;
    width: 24px;
    height: 20px;
  }
}

.not-commented-number {
  color: $grey;
}

.commented-number {
  color: $blue;
}

.share {
  color: $grey;

  &:before {
    content: '';
    display: inline-block;
    background: url(../image/share-icon.svg) no-repeat;
    margin: 0px 7px -4px 0px;
    width: 20px;
    height: 20px;
  }
}

.input-post-box {
  margin: 20px 0;
  &:before {
    content: '';
    display: inline-block;
    // background: url(../image/portrait3.png) no-repeat center; Delete this when ready
    background-size: cover;
    border-radius: 5px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 0px;
  }
}

.comments-post {
  position: relative;
}

.post-input {
  border: 1px solid $light-med-grey;
  border-radius: 5px;
  padding: 15px;
  margin-left: 85px;
  max-width: 455px;
}

.follow-profile-card-container{
  color: rgba(0, 0, 0, 0.870588);
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(222, 222, 222, 0.498039) 0px 4px 20px 0px;
  border-radius: 5px;
  padding: 2em 1em 1em 1em;
  margin-top: -30px;
  .follow-wrapper{
    .follow-profile-card-name-cont{
      .follow-profile-card-name{
        font-size: 21px;
        font-weight: 600;
        text-align: left;
      }
    }
    .follows-profile-actions-container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.sidebar-archivements-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  .sidebar-archivement-img{
    width: 50px;
  }
}

.reply {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &:hover{
    svg{
      fill: $blue !important;
    }
  }
}

.profile-readfeed-container{
  display: flex;
}
