@import 'variables.scss';

.search-modal-content {
  height: 100vh !important;
  max-height: none !important;
  padding: 2em !important;
}

.search-modal-x{
  position: absolute;
  left: 25px;
  &:hover {
    cursor: pointer;
  }
}

.search-modal-logo{
  width: 150px;
  margin-left: 2em;
  margin-top: -.3em;
}

.search-input-container{
  margin-top: .5em;
  .search-input{
    border: none;
    font-weight: 600;
    font-size: 77px;
    height: 100px;
    letter-spacing: -1.925px;
    line-height: 100px;
    width: 100%;
    padding-left: 0!important;
    box-shadow: none;
  }
}

.advanced-search-pharagraph{
  font-size: 16px;
  a{
    color: $blue;
  }
}

.search-results-contianer{
  display: flex;
  justify-content: center;
  .search-results{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    .rap-results-container, .book-results-container{
      width: 50%;
    }
    .book-results-container{
      width: 50%;
    }
  }
}

.search-reader-results, .search-author-results,
.search-publisher-results, .search-book-results{
  .result-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: .5em;
    .image-container{
      a{
        .search-result-figure{
          margin: 0;
          width: 70px;
          .search-result-image{
            width: 100%;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .search-result-info-container{
    margin-left: .5em;
    .search-type-anchor{
      color:$blue;
      font-size: 12px;
    }
    .search-result-add-to{
      display: block;
      background-color: #fff;
      border: 1px solid #0042D6;
      border-radius: 35px;
      font-size: 14px;
      margin-top: .5em;
      text-align: center;
      padding: 5px 10px;
      width: 128px;
    }
  }
}

.complete-profile-books-modal{
  max-height: 100vh;
  overflow: scroll;
}

.searchbooks-readfeeed-title{
  font-size: 18px;
  @media all and (min-width: 768px){
    font-size: 26px;
  }
}
.searchbooks-readfeeed-subtitle{
  font-size: 16px;
  @media all and (min-width: 768px){
    font-size: 18px;
  }
}

.search-books-on-readfeed{
  .search-books-form{
    position: relative;
    input{
      border-radius: 8px;
    }
  }
  .search-results-container{
    position: relative;
    .search-results{
      .book-search-results-container{
        width: 100%;
        .search-book-results{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: row;
          flex-wrap: wrap;
          overflow-y: scroll;
          overflow-x: hidden;
          min-height: 150px;
          max-height: 200px;
          @media all and (min-width: 768px) {
            max-height: 300px;
          }
          @media all and (min-width: 1200px) {
            max-height: 400px;
          }
          @media all and (min-width: 1400px) {
            max-height: 600px;
          }
          .result-container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @media all and (min-width: 768px) {
              width: 30%;
            }
            .book-container{
              transition: none;
              transform: none;
            }
            .library-book-details-container{
              margin-top: .25em;
              .library-book-details-anchor{
                display: block;
                width: 100%;
                .link{
                  font-size: 14px;
                  font-weight: 200;
                  color: $black
                }
                .library-book-details-element{
                  font-size: 14px;
                  font-weight: 200;
                }
              }
            }
          }
        }
      }
    }
  }
}

.refresh-indicator-container{
  min-height: 50px;
  position: relative;
  @media all and (min-width: 768px){
    min-height: 100px;
  }
}

.search-books-on-readfeed{
  .search-books-form{
    position: relative;
    input{
      border-radius: 8px;
    }
  }
  .search-results-container{
    position: relative;
    .search-results{
      .book-search-results-container{
        width: 100%;
        .search-book-results{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: row;
          flex-wrap: wrap;
          overflow-y: scroll;
          overflow-x: hidden;
          min-height: 150px;
          max-height: 200px;
          flex-wrap: wrap;
          @media all and (min-width: 768px) {
            max-height: 300px;
          }
          @media all and (min-width: 1200px) {
            max-height: 400px;
          }
          @media all and (min-width: 1400px) {
            max-height: 600px;
          }
          .book-container{
            transition: none;
            transform: none;
            width: 44%;
            position: relative;
            margin-bottom: .5em;
            @media all and (min-width: 768px) {
              width: 17%;
            }
            .book-info-container{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-direction: column;
              .book-info-title{
                font-size: 14px;
                color: $black;
              }
              .book-info-author{
                font-size: 12px;
                color: #949494;
                width: 100%;
                text-align: left;
              }
            }
            .book-action{
              .book-action-anchor{
                display: block;
                text-decoration: underline;
                color: $light-med-grey;
                font-size: 14px;
              }
            }
          }
          .library-book-details-container{
            margin-top: .25em;
            .library-book-details-anchor{
              display: block;
              width: 100%;
              .link{
                font-size: 14px;
                font-weight: 200;
                color: $black
              }
              .library-book-details-element{
                font-size: 14px;
                font-weight: 200;
              }
            }
          }
        }
      }
    }
  }
}

.refresh-indicator-container{
  min-height: 50px;
  position: relative;
  @media all and (min-width: 768px){
    min-height: 100px;
  }
}

.search-book-filters{
  position: absolute;
  top: 0;
  right: 20px;
  .filter-inside-input{
    a{
      display: block;
      padding: .5em;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        top: 18px;
        right: -5px;
        border-top: solid 5px $light-med-grey;
        border-right: solid 5px transparent;
        border-bottom: solid 5px transparent;
        border-left: solid 5px transparent;
      }
    }
  }
  .search-book-filters-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    width: 90px;
    top: 38px;
    background: $white;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 5px;
    border: solid 1px $light-med-grey;
    z-index: 99;
    .search-book-filters-list{
      width: 100%;
      z-index: 99;
      a{
        width: 100%;
        display: block;
        padding: .5em;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
