.sell-your-books {
  padding: 40px 0;
  .title-image {
    padding: 15px 0;
    width: 100%;
  }
  .subtitle {
    font-weight: 700;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    @media (min-width: 426px) {
      flex-direction: row;
      align-items: flex-start;
      margin: 40px 0;
    }
    .section-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      @media (min-width: 426px) {
        width: 20%;
        padding: 0;
      }
      p {
        text-align: center;
      }
    }
  }
  .button-section {
    text-align: center;
    .learn-more-button {
      display: inline-block;
      color: #fff;
      background-color: #0D3AD1;
      padding: 10px 50px;
      border-radius: 15px;
      margin-bottom: 10px;
      border: 1px solid #0D3AD1;
      &:hover{
        color: #0D3AD1;
        background-color: #fff;
        text-decoration: none;
        border: 1px solid #0D3AD1;
      }
    }
  }
  .section-image {
    border-radius: 50px;
    margin-bottom: 10px;
  }
  .image-vector {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .arrow {
    padding: 0 5px;
    margin: 40px 0;
    @media (min-width: 426px) {
      margin: 0;
      position: relative;
      top: 20px;
    }
  }
}
