@import 'variables.scss';

.signup-modal-x {
  position: absolute;

  &:hover {
    cursor: pointer;
  }
}

.signup-modal-content {
  height: 100vh !important;
  max-height: none !important;
}

.signup-modal-title {
  padding-top: 45px;
  padding-bottom: 50px;
  font-size: 1.8em;
}

.inner-title {
  font-size: 1.3em;
  padding-bottom: 20px;
}

.form-input-wrapper {
  padding-bottom: 30px;

  .form-label {
    display: block;
    padding-bottom: 8px;
  }

  .form-input {
    border: 1px solid $grey;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    padding: 9px;
    width: 100%;

    &:focus {
      border: 1px solid $blue;
      box-shadow: none;
      outline: 0;
    }
  }
}

.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  height: 600px;
  overflow: auto;
}

.center {
  margin: 0 auto;
}

.front-card {
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.behind-card-container {
  margin: -610px auto 0;
  position: relative;
  width: 900px;
  z-index: 5;
}

.behind-card {
  margin: 0 0 10px 15px;
  position: relative;
  width: 900px;
}

.third-behind-card-container {
  margin: -610px auto 0;
  position: relative;
  width: 900px;
  z-index: 0;
}

.third-behind-card {
  margin: 0 0 10px 30px;
  position: relative;
  width: 900px;
}

.page-number {
  color: $blue;
  bottom: 3%;
  position: absolute;
  right: 5%;

  p {
    font-size: 24px;
  }
}

.checkmark {
  width: 20px !important;
  height: 20px !important;
}

.chosenGenre {
  background: $blue !important;
  padding: 7px !important;

  span {
      color: white !important;
    }
  }
