@import 'variables.scss';

.statuspost{
  margin-bottom: 1em;
  .status-post-text-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    .status-post-upload-icon-container{
      position: absolute;
      right: 10px;
      bottom: 8px;
      svg{
        fill: $light-med-grey !important;
      }
    }
    .statuspost-action-btn{
      position: absolute;
      left: 75px;
      border: solid 1px $blue;
      bottom: 8px;
      display: block;
      padding: .25em 1em;
      font-size: 14px;
      border-radius: 5px;
    }
    .statuspost-close-btn{
      position: absolute;
      top: 8px;
      font-size: 18px;
      right: 18px;
      color:$light-med-grey;
      display: block;
      font-size: 14px;
    }
    .current-reader-badge{
      display: none;
      @media all and (min-width: 768px){
        display: flex;
      }
    }
    .status-post-textarea{
      width: 100%;
      height: 50px;
      margin-bottom: 0;
      border-radius: 5px;
      padding: .9em;
      resize: none;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      box-sizing: border-box;
      font-family: Roboto, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      box-shadow: rgba(222, 222, 222, 0.498039) 0px 4px 20px 0px;
      @media all and (min-width: 768px){
        width: 85%;
      }
      @media all and (min-width: 1024px){
        width: 89%;
      }
    }
    .status-post-textarea-open{
      width: 100%;
      height: 200px;
      margin-bottom: 0;
      border-radius: 5px;
      padding: .9em;
      resize: none;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      box-sizing: border-box;
      font-family: Roboto, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      box-shadow: rgba(222, 222, 222, 0.498039) 0px 4px 20px 0px;
      @media all and (min-width: 768px){
        width: 85%;
      }
      @media all and (min-width: 1024px){
        width: 89%;
      }
    }
  }
}

.current-reader-badge{
  width: 50px;
  height: 50px;
  .current-reader-image{
    width: 100%;
    border-radius: 5px;
  }
}
