// TODO: currently not working so did inline 'style' css. Will look into css-modules soon.

.stepper-contentStyle {
  margin: '0 16px';
  overflow: 'hidden';
}

.stepper-style {
  width: '100%';
  max-width: 700;
  margin: 'auto';
}
