@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$general-font-family: 'Open Sans', san-serif;
$body-copy: "freight-text-pro", san-serif;

html, body {
  padding: 0;
  margin: 0;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  height: 600px;
}

.center {
  margin: 0 auto;
}

.front-card {
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.behind-card-container {
  margin: -610px auto 0;
  position: relative;
  width: 900px;
  z-index: 0;
}

.behind-card {
  margin: 0 0 10px 15px;
  position: relative;
  width: 900px;
  z-index: -10;
}

@import 'variables.scss';
@import 'general.scss';
@import 'image.scss';
@import 'links.scss';
@import 'forms.scss';
@import 'nav-menu.scss';
@import 'call-to-action.scss';
@import 'signupflow.scss';
@import 'books.scss';
@import 'stepper.scss';
@import 'typography.scss';
@import 'mobile-menu.scss'
