@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$general-font-family: 'Open Sans', san-serif;
$body-copy: "freight-text-pro", san-serif;

html, body {
  padding: 0;
  margin: 0;
}

@import 'variables.scss';
@import 'general.scss';
@import 'image.scss';
@import 'links.scss';
@import 'nav-menu.scss';
@import 'call-to-action.scss';
@import 'signupmodal.scss';
@import 'books.scss';
@import 'stepper.scss';
@import 'typography.scss';
