@import 'variables.scss';

.carousel-wrapper {
  margin-bottom: -270px;

  @media only screen and (max-width: 640px) {
    margin-top: 70px;
  }

  .carousel-image {
    margin: 0 auto;
    border-radius: 150px;
  }

  .carousel-quotes-image {
    max-width: 40px;
    z-index: 10;
  }

  .carousel-quote-text {
    font-size: 24px;
    padding-left: 55px;

    @media only screen and (max-width: 640px) {
      padding-left: 0px;
    }
  }

  .carousel-quote-owner-text {
    font-weight: bold;
  }
}

.slick-slider {
  box-shadow: rgba(222, 222, 222, 0.5) 0px 4px 20px 0px;;

  .slick-list {
    border-radius: 5px;
    background-color: $white;
    z-index: 10;
  }

  .slick-dots {
    border-radius: 5px;
    box-shadow: rgba(222, 222, 222, 0.5) 0px 4px 20px 0px;;
    background: $white;
    height: 80px;
    bottom: -80px;
  }
}

.slick-dots li button:before {
  color: $grey;
  opacity: 0.5;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: $blue;
}
