.carouselWrapper{
  margin-top: 135px;
  margin-bottom: -130px;
  .carouselImage{
    margin: 0 auto;
    border-radius: 150px;
  }
  .carouselQuotesImage{
    max-width: 40px;
    z-index: 10;
  }
  .carouselQuoteText{
    font-size: 24px;
    padding-left: 55px;
  }
  .carouselQuoteOwnerText{
    font-weight: bold;
  }
}

.slick-slider{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  padding-top: 75px;
  .slick-list{
    background-color: #fff;
    z-index: 10;
  }
  .slick-dots{
    box-shadow: 0 3px 3px rgba(0,0,0,0.12);
    background: #fff;
    height: 80px;
    bottom: -80px;
  }
}