@import 'variables.scss';

.carousel-wrapper {
  margin-top: 135px;
  margin-bottom: -130px;

  .carousel-image {
    margin: 0 auto;
    border-radius: 150px;
  }

  .carousel-quotes-image {
    max-width: 40px;
    z-index: 10;
  }

  .carousel-quote-text {
    font-size: 24px;
    padding-left: 55px;
  }

  .carousel-quote-owner-text {
    font-weight: bold;
  }
}

.slick-slider {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);

  .slick-list {
    background-color: $white;
    z-index: 10;
  }

  .slick-dots {
    box-shadow: 0 3px 3px rgba(0,0,0,0.12);
    background: $white;
    height: 80px;
    bottom: -80px;
  }
}

.slick-dots li button:before {
  color: $grey;
  opacity: 0.5;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: $blue;
}
