@import 'variables.scss';

.base-tile-container > div {
  width: 100%;
}

.base-tile-sidebar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
  padding: 30px;
  .adv-sidebar-container{
    width: 100%;
    .sidebar-content{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      flex-direction: column;
      .sidebar-title{
        font-size: 16px;
        width: 100%;
        text-align: left;
        margin: 20px 0 10px;
        font-weight: 400;
        a{
          word-wrap: break-word;
        }
      }
    }
  }
}
.base-tile-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 30px;
  .tile-actor-figure{
    width: 42px;
    .tile-actor-image{
      border-radius: 23px;
      border: solid 1px #dedede;
    }
  }
  .tile-actor-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 1em;
    .tile-actor-container{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      @media all and (min-width: 768px) {
        flex-direction: row;
      }
      .tile-actor-name{
        font-size: 14px;
        font-weight: 600;
        color: $blue;
        a{
          color: $blue;
        }
      }
      .tile-actor-action{
        font-size: 14px;
        @media all and (min-width: 768px) {
          margin-left: .5em;
        }
      }
    }
    .tile-actor-timestamp{
      align-self: flex-start;
      font-size: 14px;
      color: rgb(151, 151, 151);
    }
  }
}
.base-tile-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
  .tile-main-content{
    width: 100%;
    padding: .5em 1em 1em;
  }
  .base-tile-footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1em !important;
    border-top: solid 1px #dedede;
    position: relative;
    .like-action-container, .comments-action-container, .shares-action-container{
      display: flex;
      justify-content: center;
      align-items: center;
      .liked{
        svg{
          fill: #ff3e3e !important;
        }
      }
      .not-liked{
        svg{
          fill: $light-med-grey !important;
        }
      }
      .like-anchor, .comments-anchor, .shares-anchor{
        display: flex;
        .shares-title{
          margin-left: .25em;
        }
        &:hover{
          .shares-title{
            color: $black;
          }
        }
      }
      .likes-counter, .comments-counter{
        margin-left: .25em;
        align-self: baseline;
      }
    }
  }
}
.album-tile-container{
  .album-tile-figure{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    .album-tile-img{
      width: 100%;
    }
  }
}

.article-tile-container{
  .article-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    .article-title{
      font-size: 20px;
      width: 100%;
      text-align:left;
      margin: .5em 0;
      font-weight: 400;
    }
  }
}

.author-tile-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .author-name, .author-title{
    width: 100%;
    text-align:left;
    font-weight: 400;
  }
  .author-name{
    margin: .5em 0;
    font-size: 24px;
  }
  .author-title{
    font-size: 18px;
  }
  .author-location-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    .author-location-icon{
      path{
        fill: $grey;
      }
    }
    .author-location{
      margin: 0;
      margin-left: .25em;
      text-transform: capitalize;
    }
  }
  .author-content{
    margin-top: 1em;
  }
  .author-short-bio-container{
    width: 100%;
    text-align: justify;
    word-wrap: break-word;
  }
}

.statuspost-tile-container, .bookclubtask-tile-container{
  .statuspost-figure{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    .statuspost-img{
      width: 100%;
    }
  }
  .statuspost-content, .bookclubtask-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
  }
  .video-iframe-container{
    .video-player{
      width: 100% !important;
      height: 180px  !important;
      @media all and (min-width: 600px){
        width: 80% !important;
        height: 275px !important;
      }
      @media all and (min-width: 768px){
        width: 100% !important;
        height: 400px !important;
      }
      @media all and (min-width: 1024px){
        width: 100% !important;
        height: 254px !important;
      }
      @media all and (min-width: 1200px){
        width: 100% !important;
        height: 300px !important;
      }
    }
  }
}


.award-tile-container{
  .award-tile-figure{
    max-width: 150px;
    margin: 0 auto;
    .award-tile-img{
      width: 100%;
    }
  }
}
.appearance-tile-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .appearance-container{
    margin-top: 1em;
    .appearance-title{
      text-align: left;
      font-size: 20px;
    }
    .appearance-row{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      .appearance-column{
        align-self: flex-start;
        width: 50%;
        .appearance-label{
          display: flex;
          align-self: flex-start;
          text-transform: uppercase;
          font-size: 14px;
        }
        .appearance-date, .appearance-time{
          text-align: left;
        }
        .appearance-date{
          font-size: 28px;
        }
        .appearance-time{
          font-size: 20px;
        }
      }
      .full-column{
        width: 100%;
      }
    }
  }
}

.publisher-tile-container, .userprofile-tile-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1em;
  .publisher-figure, .userprofile-figure{
    width: 40%;
    .publisher-img, .userprofile-img{
      width: 100%;
    }
  }
  .publisher-content, .userprofile-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 1.5em;
    a{
      width: 100%;
      .publisher-name, .userprofile-name{
        margin: .5em 0;
        font-size: 24px;
        width: 100%;
        text-align:left;
        font-weight: 400;
      }
      .publisher-title, .userprofile-title{
        font-size: 18px;
        width: 100%;
        text-align:left;
        font-weight: 400;
      }
    }
    .publisher-location-container, .userprofile-location-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      width: 100%;
      .publisher-location-icon, .userprofile-location-icon{
        path{
          fill: $grey;
        }
      }
      .publisher-location, .userprofile-location{
        margin: 0;
        margin-left: .25em;
        text-transform: capitalize;
      }
    }
  }
}

.video-tile-container{
  .video-iframe-container{
    .video-player{
      width: 100% !important;
      height: 180px  !important;
      @media all and (min-width: 600px){
        width: 80% !important;
        height: 275px !important;
      }
      @media all and (min-width: 768px){
        width: 100% !important;
        height: 400px !important;
      }
      @media all and (min-width: 1024px){
        width: 100% !important;
        height: 254px !important;
      }
      @media all and (min-width: 1200px){
        width: 100% !important;
        height: 300px !important;
      }
    }
  }
  .video-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    .video-title{
      font-size: 20px;
      width: 100%;
      text-align:left;
      margin: .5em 0;
      font-weight: 400;
    }
  }
}

.book-tile-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 1em;
  .book-figure{
    width: 40%;
    @media all and (min-width: 600px){
      width: 20%;
    }
    @media all and (min-width: 1024px){
      width: 35%;
    }
    .book-img{
      width: 100%;
    }
  }
  .book-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 1.5em;
    .book-title{
      width: 100%;
      text-align:left;
      margin: 0;
      font-weight: 400;
    }
    .book-author{
      margin: 0;
      width: 100%;
      text-align: left;
      font-size: 24px;
    }
    .book-rating-container{
      width: 100%;
      text-align: left;
      margin-top: 1.5em;
    }
  }
}

.adv-tile-container{
  width: 100%;
  .adv-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    .adv-title{
      font-size: 20px;
      width: 100%;
      text-align:left;
      margin: .5em 0;
      font-weight: 400;
    }
  }
  .action-btn-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .5em;
    .adv-learn-more-btn{
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(0, 66, 214);
      border-radius: 25px;
      font-family: "Open Sans";
      font-size: 16px;
      padding: 10px 15px;
      color:$blue;
    }
  }
}

.bookclub-tile-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  @media all and (min-width: 768px){
    flex-direction: row;
  }
  .bookclub-figure{
    width: 40%;
    margin: 0 auto;
    @media all and (min-width: 600px){
      width: 20%;
    }
    @media all and (min-width: 1024px){
      width: 35%;
    }
    .bookclub-img{
      width: 100%;
    }
  }
  .bookclub-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    @media all and (min-width: 768px){
      margin-left: 1.5em;
    }
  }
}

.post-excerpt-container{
  width: 100%;
  text-align: justify;
  word-wrap: break-word;
  .post-excerpt-pharagraph{
    margin: 0;
    font-size: 14px;
    color: $grey;
    .post-readmore-anchor{
      text-decoration: underline;
      color: $grey;
      margin-left: .5em;
      font-size: 15px;
    }
  }
}

.heading-overflow-figure{
  width: 100%;
  max-height: 250px;
  border-radius: 3px;
  overflow: hidden;
  a{
    .heading-img{
      width: 100%;
    }
  }
}

.comment-header-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 1em;
  .comment-figure-container{
    width: 42px;
    a{
      .comment-img{
        border-radius: 5px;
        border: solid 1px #dedede;
      }
    }
  }
  .comment-details-container{
    margin-left: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    .comment-author-anchor{
      font-weight: 600;
    }
    .comment-timestamp{
      font-size: 13px;
    }
  }
}

.share-elements-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  list-style: none;
  padding: .5em;
  border-radius:9px;
  border: solid 1px $light-med-grey;
  .share-elements-item{
    &:hover{
      cursor: pointer;
    }
  }
}

.profile-detailer-container > div {
  padding-bottom: 0 !important;
}

.profile-detailer-container{
  margin-bottom: 1em;
  .profile-detailer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
    border-bottom: solid 1px #dedede;
    box-shadow: rgba(222, 222, 222, 0.5) 0px 4px 20px 0px;
    .profile-detailer-title{
      font-size: 16px;
      margin: 0;
      font-weight: 400;
      align-self: flex-start;
      width: 100%;
      text-align: left;
    }
    .profile-detailer-progress-bar{
      height: 15px !important;
    }
  }
  .profile-detailer-content{
    padding: 0 !important;
    .profile-detailer-actions-content{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      .dropzone-profile-detailer{
        width: 100%;
        height: auto;
        border: none;
      }
    }
    .profile-detailer-goto{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.profile-detailer-single-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: $white;
  font-size: 16px;
  width: 100%;
  padding: 1em;
  border-bottom: solid 1px #dedede;
  box-shadow: rgba(222, 222, 222, 0.5) 0px 4px 20px 0px;
  color: $blue;
  &:hover{
    color: $black
  }
  .profile-detailer-left-elements{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 75%;
    .action-icon{
      span{
        font-weight: 700;
        font-size: 22px;
        color: $blue;
      }
    }
    .action-content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: .75em;
      .action-name{
        font-size: 14px;
        color: $blue;
      }
    }
  }
  .litcoin-earn-container{
    align-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    .litcoin-amount{
      font-size: 14px;
      color: $black;
      &:hover{
        color: $black;
      }
    }
    .litcoin-image{
      width: 15px;
      margin-left: .25em;
    }
  }
}

.merged-tile-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-height: 300px;
  overflow: scroll;
  .merged-users{
    &:first-child{
      &:before{
        content: '';
        margin-right: 0;
      }
    }
    &:before{
      content: ',';
      margin-right: .5em;
    }
    &:hover{
      &:before{
        color: $black;
      }
    }
    &:last-child{
      &:before{
        content: 'and';
        margin: 0 .5em;
      }

      &:after{
        content: '...';
      }
      &:hover{
        &:after, &:before{
          color: $black;
        }
      }
    }
  }
  .merged-books{
    img{
      width: 113px;
      margin: .5em;
    }
  }
}

.readfeed-announcement{
  margin-bottom: 1em;
  position: relative;
  .readfeed-announcement-close{
    position: absolute;
    top:20px;
    right: 20px;
    width: 15px;
    &:hover{
      cursor: pointer;
    }
  }
}

.comments-tile-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  .comments-elelemnts{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    .comments-image{
      width: 50px;
      border-radius: 5px;
    }
    .comments-textarea{
      width: 80%;
      height: 150px;
      resize:vertical;
    }
  }
}

.active-content-link-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1em;
  border: solid 1px $light-med-grey;
  box-shadow: rgba(222, 222, 222, 0.498039) 0px 4px 20px 0px;
  .active-content-link-figure{
    width: 200px;
    height: auto;
    overflow: hidden;
  }
  .active-content-description{
    margin-left: 1em;
    h5{
      text-align: left;
      text-transform: capitalize;
      font-size: 18px;
    }
  }
}

.announcement-title-container{
  display: flex;
  justify-content: center;
  figure {
    padding-left: .5em;
  }
}
