@import 'variables.scss';

.base-tile-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: solid 1px #dedede;
  background-color: $white;
  border-radius: 5px;
  margin-bottom: 1em;
  .base-tile-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 1em 1em .5em;
    .tile-actor-figure{
      width: 42px;
      .tile-actor-image{
        border-radius: 5px;
        border: solid 1px #dedede;
      }
    }
    .tile-actor-details{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-left: 1em;
      .tile-actor-container{
        .tile-actor-name{
          font-size: 14px;
          font-weight: bold;
        }
        .tile-actor-action{
          font-size: 14px;
          margin-left: .5em;
        }
      }
      .tile-actor-timestamp{
        align-self: flex-start;
        font-size: 14px;
      }
    }
  }
  .tile-main-content{
    width: 100%;
    padding: .5em 1em 1em;
  }
  .base-tile-footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1em;
    border-top: solid 1px #dedede;
    .like-action-container, .comments-action-container, .shares-action-container{
      display: flex;
      justify-content: center;
      align-items: center;
      .like-anchor, .comments-anchor, .shares-anchor{
        display: flex;
        .shares-title{
          margin-left: .25em;
        }
        &:hover{
          .shares-title{
            color: $black;
          }
        }
      }
      .likes-counter, .comments-counter{
        margin-left: .25em;
      }
    }
  }
}
.album-tile-container{
  .album-tile-figure{
    width: 100%;
    .album-tile-img{
      width: 100%;
    }
  }
}

.article-tile-container{
  .article-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    .article-title{
      font-size: 20px;
      width: 100%;
      text-align:left;
      margin: .5em 0;
      font-weight: 400;
    }
  }
}

.author-tile-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .author-name, .author-title{
    width: 100%;
    text-align:left;
    font-weight: 400;
  }
  .author-name{
    margin: .5em 0;
    font-size: 24px;
  }
  .author-title{
    font-size: 18px;
  }
  .author-location-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    .author-location-icon{
      path{
        fill: $grey;
      }
    }
    .author-location{
      margin: 0;
      margin-left: .25em;
      text-transform: capitalize;
    }
  }
  .author-content{
    margin-top: 1em;
  }
  .author-short-bio-container{
    width: 100%;
    text-align: justify;
    word-wrap: break-word;
  }
}

.statuspost-tile-container{
  .statuspost-heading-figure{
    width: 100%;
    .statuspost-heading-img{
      width: 100%;
    }
  }
  .statuspost-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
  }
}


.award-tile-container{
  .award-tile-figure{
    max-width: 300px;
    margin: 0 auto;
    .award-tile-img{
      width: 100%;
    }
  }
}
.appearance-tile-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .appearance-container{
    margin-top: 1em;
    .appearance-row{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      .appearance-column{
        align-self: flex-start;
        width: 50%;
        .appearance-label{
          display: flex;
          align-self: flex-start;
          text-transform: uppercase;
          font-size: 14px;
        }
        .appearance-date, .appearance-time{
          text-align: left;
        }
        .appearance-date{
          font-size: 28px;
        }
        .appearance-time{
          font-size: 20px;
        }
      }
    }
  }
}

.post-excerpt-container{
  width: 100%;
  text-align: justify;
  word-wrap: break-word;
  .post-excerpt-pharagraph{
    font-size: 16px;
    .post-readmore-anchor{
      text-decoration: underline;
      color: $grey;
      margin-left: .5em;
      font-size: 15px;
    }
  }
}

.heading-overflow-figure{
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  .heading-img{
    width: 100%;
  }
}
