@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import 'variables.scss';

body, h3, h4, h5, span, div, a, p {
  font-family: 'Open Sans', san-serif;
}

h1, h2 {
  font-weight: 700;
  color: $black;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

h5 {
  text-transform: uppercase;
  color: $grey;
}

p {
  font-size: 16px;
  line-height: 25px;
}

a {
  color: $black;
}

.footer-links ul li a {
  color: $grey;
}

.shop-nav-item {
  font-size: 16px;

  a {
    color: $grey;

    &:hover {
      color: $blue;
    }
  }
}

.subheader-text {
  font-size: 16px;
}

.step-header {
  margin-bottom: 35px;
}

.small-title {
  font-size: 12px;
}

.profile-large-text {
  font-size: 18px;
  font-weight: 600;
}

.small-header {
  font-size: 14px;
  font-weight: bold;
  color: $light-med-grey;
}

.sublink {
  font-size: 14px;
  color: $grey;
}

.rec-header {
  margin-bottom: 23px;
  text-align: left;
}
