@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'variables.scss';

h1, h2, h3, h4, a, .nav-item {
  font-family: 'Open Sans', san-serif !important;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h4 {
  font-size: 18;
  font-weight: 400;
}

p {
  font-family: $body-copy;
  font-size: 20px;
}

a {
  color: $black;
}

.footer-links ul li a {
  color: $grey;
}

.nav-item {
  color: $black;
  font-size: 16px;
}

.step-header {
  margin-bottom: 35px;
}
