$white: #fff;
$blue: #0042D6;
$black: rgba(0,0,0,0.9);
$grey: #979797;
$light-med-grey: #C8C5C5;
$light-grey: #FCFDFF;
$red: #FF2C54;
$error-text: red;
$store-blue: #0099ff;
$green: #008000;
$phone: 'phone';
$tablet: 'tablet';
$desktop: 'desktop';
